.ChooseAsPerYourNeedContainer {
  padding: 4rem 2.5rem 0rem 2.5rem;
  background-color: #1a1112;
  margin: 0;
}
.CAPYNTabcontainer {
  background: #fff8ea;
  border-radius: 10px;
}
.CAPYNTabMainContainer {
  padding-left: 1rem;
}
.CAPYN {
  padding: 0;
}
.CAPYNHEADING {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  width: fit-content;
  padding-bottom: 5rem;
}
.TabsCapynt {
  padding: 2.5rem 1rem 2.5rem 1rem;
  font-weight: 600;
  font-size: 22px;
  border-radius: 10px;
}
.TabsCapynt:hover {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #e49b00;
}
.DetailSectionMainTitle {
  color: #1a1112;
  -webkit-text-stroke: 1px #aaa;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.DetailSectionContainer {
  padding-left: 6rem;
}
.DetailSectionDetails {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.DetailSectionImage {
  padding-top: 4rem;
  height: 13rem;
}
.DetailBtn {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
@media (min-width: 320px) and (max-width: 450px) {
  .DetailBtn {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }
  .ChooseAsPerYourNeedContainer {
    padding: 0rem 1rem 3rem 1rem;
    background-color: #1a1112;
    margin: 0;
  }

  .CAPYNHEADING {
    font-size: 38px;
    padding-bottom: 0.5rem;
  }

  .DetailSectionMainTitle {
    font-size: 30px;
    padding-top: 3rem;
  }
  .DetailSectionContainer {
    padding-left: 0rem;
  }
  .DetailSectionDetails {
    font-size: 16px;
    font-weight: 400;
  }
  .TabsCapynt:hover {
    background-color: #fff;
  }
  .TabsCapynt {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 12.43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DetailSectionContainer {
    padding-left: 0rem;
  }
  .CAPYNTabMainContainer {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .TabsCapynt:hover {
    padding: 1rem 1rem 1rem 1rem;
    border: none;
  }

  .DetailSectionImage {
    height: auto;
    padding-top: 2rem;
  }

  .DetailBtn {
    padding: 4rem 0 3rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .DetailSectionContainer {
    padding: 3rem 0 0 0;
  }

  .DetailSectionImage {
    height: 11rem;
  }

  .DetailBtn {
    padding: 5rem 0;
  }
}

@media (min-width: 1200px) and (max-width: 1730px) {
  .CAPYNTabcontainer {
    width: 18rem;
  }
  .DetailSectionContainer {
    padding-left: 10rem;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
