.ClientTestimonialSliderContainer {
  padding: 4rem 2.5rem;
  background: #1a1112;
  overflow: hidden;
}

.ClientTestimonialHeading {
  font-family: "Poppins", sans-serif;
  color: #1a1112;
  -webkit-text-stroke: 0.5px #fff;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: center;
}

.SliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderParent {
  width: 86%;
}

.Slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SlideContainer {
  width: 60%;
}

.Details {
  margin: 3rem 0 1rem 0;
  color: #fff;
  animation: fadeIn 5s;
  font-size: 18px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LeftArrow,
.RightArrow {
  width: 5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.LeftArrow:hover {
  transform: scale(0.9);
  transition: all 0.5s ease;
}
.RightArrow:hover {
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.ArrowContainer {
  width: 5rem;
  height: 5rem;
}

@media (min-width: 320px) and (max-width: 430px) {
  .ClientTestimonialSliderContainer {
    padding: 5rem 1rem;
    padding-top: 0;
  }

  .SlideContainer {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .ClientTestimonialHeading {
    font-size: 48px;
  }

  .Details {
    font-size: 16px;
  }

  .SliderParent {
    width: 100%;
  }

  .ArrowContainer {
    position: relative;
    top: 15rem;
    width: 3rem;
    height: 3rem;
  }

  .LeftArrow,
  .RightArrow {
    width: 3rem;
    position: relative;
  }

  .LeftArrow {
    left: 10rem;
    z-index: 5;
  }

  .RightArrow {
    right: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .SliderParent {
    width: 80%;
  }
}
