.FaqContainer {
  padding: 4rem 2.5rem;
}
.FaqRow {
}
.FaqCol {
  /* padding: 0%; */
}
.FaqHeading {
  font-weight: 700;
  font-size: 80px;
}
.FaqNum {
  font-weight: 600;
  font-size: 22px;
  margin-right: 3rem;
}
@media (min-width: 320px) and (max-width: 450px) {
  .FaqContainer {
    padding: 2rem 1rem;
  }
  .FaqHeading {
    font-size: 60px;
    margin: 0%;
  }
  .FaqNum {
    font-size: 18px;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
