.GirlonCounter {
  padding: 4em 2.5em 4rem 2.5em;
  margin: 0%;
}

.GirlOnCounterHeading {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2em;
}

.GirlonCounter h3 {
  font-size: 70px;
  font-weight: 700;
}

.GirlonCounterDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 3rem;
}

@media (min-width: 300px) and (max-width: 1060px) {
  .GirlonCounter h3 {
    font-size: 70px;
  }
}

@media (min-width: 300px) and (max-width: 940px) {
  .GirlonCounter h3 {
    font-size: 65px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .GirlonCounter h3 {
    font-size: 55px;
  }
}

@media (min-width: 300px) and (max-width: 650px) {
  .GirlonCounter h3 {
    font-size: 40px;
  }

  .GirlonCounterDiv img {
    width: 15em;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .GirlonCounter {
    padding: 4rem 0;
  }

  .GirlonCounter h3 {
    font-size: 23px;
  }

  .GirlonCounterDiv {
    position: relative;
    top: 1em;
    right: 2em;
  }

  .GirlonCounterDiv img {
    width: 8em;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 610px) {
  .GirlonCounter h3 {
    font-size: 72px;
  }
}
