.Hireheadercontainer {
  background: #1a1112;
  padding: 4rem 2.5rem;
  margin: 0%;
  padding-right: 0%;
}
.BtnContainer {
  padding: 3rem 0rem;
}
.Heading h1 {
  font-size: 100px;
  font-weight: 700;
  padding-top: 4rem;
  color: #e49b00;
}
.Heading p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: justify;
  width: 78%;
}
.Rowmainhead {
  display: flex;
}
.Imgsectioncontainer {
  background: #e49b00;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  height: 100vh;
  margin-top: -4rem;
  margin-right: -2.5rem;
  width: 100%;
}
.Subimg {
  position: relative;
  right: 8rem;
  top: 8.5rem;
}
.imgcontainer {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  padding: 80px 0;
  text-align: center;
  line-height: 1.5;
}
.ImageBox {
  height: auto;
  background-color: #e49b00;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  margin-top: -4rem;
  /* margin-right: -4rem; */
  /* width: 90%; */
  width: 100%;
}
.ImageCover {
  position: relative;
  top: 0rem;
  right: 8rem;
  /* bottom: 36rem; */
  /* padding-top: 5rem; */
}
.MarqueeAnim {
  position: absolute;
  color: #e49b00;
  width: 45rem;
  overflow: hidden;
}
.MarqueeAnimLabel {
  -webkit-text-stroke: 0.3px #fff;
  font-weight: 700;
  font-size: 5rem;
  width: 45rem;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  animation: movelikemarquee 5s infinite;
}

.ColSpace {
  padding: 0%;
}
@media (min-width: 320px) and (max-width: 450px) {
  .Heading h1 {
    font-size: 42px;
    font-weight: 700;
    padding-top: 4rem;
    color: #e49b00;
  }
  .Hireheadercontainer {
    padding: 1rem 0rem;
  }
  .Heading p {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Hireheadercontainer {
    padding: 1rem 1.5rem;
  }
  .Heading h1 {
    font-size: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
.marquee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  top: -0.5rem;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  /* // animation-play-state: paused; */
}
.marquee__inner1 {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee1 20s linear infinite;
  /* // animation-play-state: paused; */
}
.marquee span {
  color: #e49b00;
  -webkit-text-stroke: 0.3px #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  white-space: nowrap;
  font-size: 9.9vw;
  padding: 0 1vw;
  margin-top: -1rem;
  line-height: 8rem;
}

/* .marquee:hover .marquee__inner { 
  animation-play-state: running;
	 opacity: 1;
	 transition-duration: 0.4s; 
 } */
.marqueeCover {
  width: 32rem;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  height: 45rem;
  overflow: hidden;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-final), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
}

@keyframes marquee1 {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
@media (min-width: 320px) and (max-width: 450px) {
  .Hireheadercontainer {
    flex-direction: column-reverse;
  }
  .techimgs {
    height: 3rem;
  }
  .ColSpace {
    width: 60%;
    margin-left: auto;
  }
  .ImageBox {
    height: 26rem;
  }
  .ImageCover {
    right: 3.8rem;
  }
  .marquee span {
    margin-top: 0.3rem;
    line-height: 2.8rem;
  }
  .marqueeCover {
    width: 13rem;
  }
  .ImageWidth {
    width: 14rem;
    margin-top: 7.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Hireheadercontainer {
    flex-direction: column-reverse;
  }
  .ColSpace {
    width: 66%;
    margin-left: auto;
  }
  .ImageBox {
    width: 105%;
    height: 48rem;
  }
  .ImageCover {
    right: 3.8rem;
  }
  .marquee span {
    margin-top: 1rem;
    line-height: 6.8rem;
  }
  .marqueeCover {
    width: 31rem;
  }
  .ImageWidth {
    width: 25rem;
    margin-top: 14.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
  .marqueeCover {
    width: 46.9rem;
  }
  .marquee span {
    font-size: 7.9vw;
    line-height: 11.5rem;
  }
}
