.Hireheadercontainer {
  background: #1a1112;
  padding: 4rem 2.5rem;
  margin: 0%;
  padding-right: 0%;
}
.BtnContainer {
  padding: 3rem 0rem;
}
.Heading h1 {
  font-size: 100px;
  font-weight: 700;
  padding-top: 4rem;
  color: #e49b00;
}
.Heading p {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-align: justify;
  width: 78%;
}
.Rowmainhead {
  display: flex;
}
.Imgsectioncontainer {
  background: #e49b00;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  height: 100vh;
  margin-top: -4rem;
  margin-right: -2.5rem;
  width: 100%;
}
.Subimg {
  position: relative;
  right: 8rem;
  top: 8.5rem;
}
.imgcontainer {
  width: 100%;
  height: auto;
}
/* .Marquriytext {
  font-size: 170px;
  font-weight: 700;
  color: #e49b00;
  -webkit-text-stroke: 0.3px #fff;
  margin: 0;
}
.marquee {
  width: 30vw;
  padding: 0 5%;
  margin: 0 -0%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
} */

.content {
  position: relative;
  padding: 80px 0;
  text-align: center;
  line-height: 1.5;
}
.ImageBox {
  height: auto;
  background-color: #e49b00;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
  margin-top: -4rem;
  /* margin-right: -4rem; */
  /* width: 90%; */
  width: 100%;
}
.ImageCover {
  position: relative;
  /* top: 1.5rem; */
  right: 8rem;
  /* bottom: 36rem; */
  /* padding-top: 5rem; */
}
.MarqueeAnim {
  position: absolute;
  color: #e49b00;
  width: 45rem;
  overflow: hidden;
}
.MarqueeAnimLabel {
  -webkit-text-stroke: 0.3px #fff;
  font-weight: 700;
  font-size: 5rem;
  width: 45rem;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  animation: movelikemarquee 5s infinite;
}

.ColSpace {
  padding: 0%;
}
@media (min-width: 320px) and (max-width: 430px) {
  .Heading h1 {
    font-size: 42px;
    font-weight: 700;
    padding-top: 4rem;
    color: #e49b00;
  }
  .Hireheadercontainer {
    padding: 1rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Hireheadercontainer {
    padding: 1rem 1.5rem;
  }
  .Heading h1 {
    font-size: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
.marquee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  top: -2.5rem;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  /* // animation-play-state: paused; */
}

.marquee span {
  color: #e49b00;
  -webkit-text-stroke: 0.3px #fff;
  font-family: "Poppins", sans-serif;

  white-space: nowrap;
  font-size: 9.9vw;
  padding: 0 2vw;
}

.marquee:hover .marquee__inner {
  /* // animation-play-state: running;
	// opacity: 1;
	// transition-duration: 0.4s; */
}
.marqueeCover {
  width: 32rem;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
