.HireButton,
.ArrowHireIcon {
  color: #eb9400;
  cursor: pointer;
  font-size: 22px;
  text-decoration: underline;
}

.HireButton:hover {
  color: #eb9400;
}

.ArrowHireIcon {
  font-size: 40px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .HireButton {
    font-size: 18px;
  }

  .ArrowHireIcon {
    font-size: 30px;
  }
}
