.HorizontalTabContainer {
  padding: 4rem 2.5rem 1rem 2.5rem;
}
.TabParagraph {
  text-align: justify;
  margin-right: 5em;
}
.TabHeading {
  font-size: 75px;
  font-weight: 700;
  padding: 0em 0em 1em 0em;
}

.TechImagesRow {
  margin: 4em 0 2.5em 0;
}

.TechImages {
  width: 1em;
  font-size: 4.813rem;
  margin-left: 0.5em;
}
/* 
 */
.TechImagesWeb0,
.TechImagesWeb1,
.TechImagesWeb2,
.TechImagesWeb3,
.TechImagesWeb4,
.TechImagesWeb5,
.TechImagesWeb6,
.TechImagesWeb7,
.TechImagesWeb8,
.TechImagesWeb9,
.TechImagesWeb10,
.TechImagesWeb11,
.TechImagesWeb12,
.TechImagesWeb13,
.TechImagesMT0,
.TechImagesMT1,
.TechImagesMT2,
.TechImagesMT3,
.TechImagesMT4 {
  width: 1em;
  font-size: 4.813rem;
  margin-left: 0.5rem;
  transition: all 1s ease;
}
.TechImagesDM0,
.TechImagesDM2,
.TechImagesDM1,
.TechImagesDM3 {
  width: 1em;
  font-size: 4.813rem;
  transition: all 1s ease;
  margin-left: 0rem;
}
.TechImagesFE0,
.TechImagesFE1,
.TechImagesFE2,
.TechImagesFE3 {
  width: 1em;
  font-size: 4.813rem;
  transition: all 1s ease;
  margin-left: 0rem;
}
.TechImagesFE0:hover {
  color: #5ed3f3;
  transition: all 1s ease;
}
.TechImagesFE1:hover {
  color: #bd022e;
  transition: all 1s ease;
}
.TechImagesFE2:hover {
  color: #3fb27f;
  transition: all 1s ease;
}
.TechImagesFE3:hover {
  color: #e96228;
  transition: all 1s ease;
}
.TechImagesWOO {
  width: 1em;
  font-size: 4.813rem;
  transition: all 1s ease;
  margin-left: 0rem;
}
.TechImagesWOO:hover {
  color: #8053b4;
  transition: all 1s ease;
}
.TechImagesCD0,
.TechImagesCD1,
.TechImagesCD2 {
  width: 5.5rem;
  font-size: 4.813rem;
  transition: all 1s ease;
  margin-left: 0rem;
}
.TechImagesCD0:hover {
  content: url("/assets/awscolor.svg");
  transition: all 1s ease;
}
.TechImagesCD1:hover {
  content: url("/assets/azurecolor.svg");
  transition: all 1s ease;
}
.TechImagesCD2:hover {
  content: url("/assets/googlecloudcolor.svg");
  transition: all 1s ease;
}

.TechImagesWeb0:hover {
  color: #21759b;
  transition: all 1s ease;
}

.TechImagesWeb1:hover {
  transition: all 1s ease;
  color: #96bf48;
}

.TechImagesWeb2:hover {
  color: #d7632d;
  transition: all 1s ease;
}
.TechImagesWeb3:hover {
  color: #777bb3;
  transition: all 1s ease;
}
.TechImagesWeb4:hover {
  color: #f9322c;
  transition: all 1s ease;
}
.TechImagesWeb5:hover {
  color: #dd4814;
  transition: all 1s ease;
}
.TechImagesWeb6:hover {
  color: #55a54d;
  transition: all 1s ease;
}
.TechImagesWeb7:hover {
  color: #333333;
  transition: all 1s ease;
}
.TechImagesWeb8:hover {
  color: #bd022e;
  transition: all 1s ease;
}
.TechImagesWeb9:hover {
  color: #7fc729;
  transition: all 1s ease;
}
.TechImagesWeb10:hover {
  color: #55a54d;
  transition: all 1s ease;
}
.TechImagesWeb11:hover {
  color: #333333;
  transition: all 1s ease;
}
.TechImagesWeb12:hover {
  color: #5ed3f3;
  transition: all 1s ease;
}
.TechImagesWeb13:hover {
  color: #7fc729;
  transition: all 1s ease;
}

/* --- */
/* .TechImagesDM0:hover {
  color: #0c2342;
  transition: all 1s ease;
} */
.TechImagesDM0:hover {
  content: url("/assets/seo-color.svg");
  transition: all 1s ease;
}
.TechImagesDM2:hover {
  content: url("/assets/like-color.svg");
  transition: all 1s ease;
}
.TechImagesDM1:hover {
  color: #1d84de;
  transition: all 1s ease;
}
/* .TechImagesDM2:hover {
  color: #022e3f;
  transition: all 1s ease;
} */
.TechImagesDM3:hover {
  color: #1773ea;
  transition: all 1s ease;
}
/* ----- */
.TechImagesMT0:hover {
  color: #a1aaac;
  transition: all 1s ease;
}
.TechImagesMT1:hover {
  color: #9fbf39;
  transition: all 1s ease;
}
.TechImagesMT2:hover {
  color: #54c5f8;
  transition: all 1s ease;
}
.TechImagesMT3:hover {
  color: #3498db;
  transition: all 1s ease;
}
.TechImagesMT4:hover {
  color: #56d2f3;
  transition: all 1s ease;
}
/*  */
.TechImages:first-child {
  margin-left: 0;
}

.TechImage {
  width: 100%;
  height: auto;
  max-width: 35em;
  /* filter: grayscale(100%); */
  transition: all 2s ease;
}
.TechImage:hover {
  /* filter: none; */
  transform: scale(1.1);
  transition: all 2s ease;
}
.TechTitle {
  font-size: 32px;
}

.TechTitle + p {
  width: 90%;
  font-size: 16px;
  text-align: justify;
}

.TechTabHead {
  color: #a4a1a1;
  font-size: 22px;
  font-weight: 500;
  background-color: #fff !important;
  border-color: #ffffff #fff rgba(0, 0, 0, 0.2) !important;
}

.TechTabHead:hover {
  color: #e49b00;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
  border-bottom: 2px solid black !important;
  border-color: #dee2e6 #dee2e6 #fff;
}

.TechImageRow {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 2em;
}
.TechImageRowCover {
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
}
.TechMoBApple:hover {
  color: #e49b00;
}
.TechMoBAndroid:hover {
  color: green;
}
/* @media only screen and (max-width: 600px) {
  .HorizontalTabContainer {
    padding-left: 0.7em !important;
    padding-right: 0.5em !important;
  }
  .TabHeading {
    font-size: 35px !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .HorizontalTabContainer {
    padding: 2em 0 0 0;
  }

  .TechTabHead {
    font-size: 16px;
  }

  .TabHeading {
    font-size: 60px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .TechTabHead {
    font-size: 14px;
  }

  .TabHeading {
    font-size: 45px;
  }
}
@media (max-width: 1440px) and (max-height: 1024px) {
  .TabHeading {
    padding: 0em 0em 1em 0em;
  }
}

@media (min-width: 1280px) and (max-height: 610px) {
  .TabHeading {
    font-size: 65px;
  }
} */

@media (min-width: 320px) and (max-width: 450px) {
  .HorizontalTabContainer {
    padding: 3rem 1rem;
  }

  .HeadingStyle {
    font-size: 20px;
  }

  .TabHeading {
    font-size: 38px;
    margin: 0;
  }

  .TechImagesRow {
    margin: 2rem 0 2rem 0;
  }

  .TechTitle {
    font-size: 26px;
  }

  .TechTitle + p {
    width: 100%;
    text-align: justify;
  }

  .TechImageRow {
    padding-bottom: 2rem;
  }

  .TechImagesWeb0,
  .TechImagesWeb1,
  .TechImagesWeb2,
  .TechImagesWeb3,
  .TechImagesWeb4,
  .TechImagesWeb5,
  .TechImagesWeb6,
  .TechImagesWeb7,
  .TechImagesWeb8,
  .TechImagesWeb9,
  .TechImagesWeb10,
  .TechImagesWeb11,
  .TechImagesWeb12,
  .TechImagesWeb13,
  .TechImagesDM0,
  .TechImagesDM1,
  .TechImagesDM2,
  .TechImagesDM3,
  .TechImagesMT0,
  .TechImagesMT1,
  .TechImagesMT2,
  .TechImagesMT3,
  .TechImagesMT4 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}

@media (min-width: 1200px) and (max-width: 1730px) {
  .TabHeading {
    padding: 0em 0em 1em 0em;
    margin: 0%;
  }
}
