.HorizontalTabContainer {
  padding: 6em 2.5rem 1em 2.5rem;
}
.TabParagraph {
  text-align: justify;
  margin-right: 5em;
}
.TabHeading {
  font-size: 75px;
  font-weight: 700;
  padding: 0em 0em 1em 0em;
}

.TechImagesRow {
  margin: 4em 0 2.5em 0;
}

.TechImages {
  width: 1em;
  font-size: 4.813rem;
  margin-left: 0.5em;
}

.TechImages:first-child {
  margin-left: 0;
}

.TechImage {
  width: 100%;
  height: auto;
  max-width: 35em;
}

.TechTitle {
  font-size: 32px;
}

.TechTitle + p {
  width: 90%;
}

.TechTabHead {
  color: #a4a1a1;
  font-size: 22px;
  font-weight: 500;
  background-color: #fff !important;
  border-color: #ffffff #fff rgba(0, 0, 0, 0.2) !important;
}

.TechTabHead:hover {
  color: #e49b00;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
  border-bottom: 2px solid black !important;
  border-color: #dee2e6 #dee2e6 #fff;
}

.TechImageRow {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 2em;
}

/* @media only screen and (max-width: 600px) {
  .HorizontalTabContainer {
    padding-left: 0.7em !important;
    padding-right: 0.5em !important;
  }
  .TabHeading {
    font-size: 35px !important;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .HorizontalTabContainer {
    padding: 2em 0 0 0;
  }

  .TechTabHead {
    font-size: 16px;
  }

  .TabHeading {
    font-size: 60px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .TechTabHead {
    font-size: 14px;
  }

  .TabHeading {
    font-size: 45px;
  }
}
@media (max-width: 1440px) and (max-height: 1024px) {
  .TabHeading {
    padding: 0em 0em 1em 0em;
  }
}

@media (min-width: 1280px) and (max-height: 610px) {
  .TabHeading {
    font-size: 65px;
  }
} */

@media (min-width: 320px) and (max-width: 430px) {
  .HorizontalTabContainer {
    padding: 3rem 1rem;
  }

  .HeadingStyle {
    font-size: 20px;
  }

  .TabHeading {
    font-size: 38px;
    margin: 0;
  }

  .TechImagesRow {
    margin: 2rem 0 2rem 0;
  }

  .TechTitle {
    font-size: 26px;
  }

  .TechTitle + p {
    width: 100%;
    text-align: justify;
  }

  .TechImageRow {
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}

@media (min-width: 1200px) and (max-width: 1730px) {
  .TabHeading {
    padding: 0em 0em 1em 0em;
    margin: 0%;
  }
}
