.HorizontalTabContainer {
  padding: 4rem 2.5rem;
  background: #1a1112;
}

.HorizontalTabContainer ul {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HorizontalTabPane {
  justify-content: center;
  display: flex;
  padding-top: 3rem;
  font-weight: 600;
  font-size: 18px;
}

.HorizontalTabRow {
  justify-content: space-between;
  padding-bottom: 1rem;
}

.HorizontalTabCol {
  text-align: right;
}

.ExcelAtHead {
  text-align: center;
}

.ExcelAtHead h2 {
  font-size: 70px;
  font-weight: 700;
  color: #1a1112;
  -webkit-text-stroke: 1px #fff;
  font-family: "Poppins";
}

.HorizontalTabDiv {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HorizontalTabname {
  padding-top: 1rem;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  margin-left: 1.5rem;
}

.HorizontalTabCol:hover .HorizontalTabname {
  transition: 2s;
  opacity: 1;
}

.WeExcelIcons {
  margin: 0 1rem;
  color: #fff;
  transition: all 0.5s ease;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  background: transparent;
}

.HorizontalTabDiv:hover {
  background: #2c2424;
  animation: pulse 1s infinite linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #2c2424;
  }

  100% {
    box-shadow: 0 0 0 10px #231b1b;
  }
}

.React:hover {
  color: rgb(117, 236, 252) !important;
  opacity: 1;
}

.Angular:hover {
  color: #df2e31;
}

.Vue:hover {
  color: #41b783;
}

.Html:hover {
  color: #e54d26;
}

.Next:hover {
  color: #000;
}

.Nuxt:hover {
  color: #00dc82;
}

.Gatsby:hover {
  color: #663199;
}

.Node:hover {
  color: #3a873a;
}

.Laravel:hover {
  color: #ff291a;
}

.Codeigniter:hover {
  color: #ee4423;
}

.Php:hover {
  color: #767bb3;
}

.Wordpress:hover {
  color: #21759a;
}

.Shopify:hover {
  color: #96bf47;
}

.Magento:hover {
  color: #f05a27;
}

.Magento:hover {
  color: #f05a27;
}

.Kotlin:hover {
  color: #7c6dea;
}

.Swift:hover {
  color: #ff6a32;
}
.Flutter:hover {
  color: #2596be;
}
.Java:hover {
  color: #2596be;
}
.SiXamarin {
  color: #329adb;
}
@media (min-width:320px) and (max-width: 430px) {
  .HorizontalTabname {
    text-align: center;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .HorizontalTabCol {
    margin: 1rem 0;
  }

  .ExcelAtHead h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .HorizontalTabCol {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .HorizontalTabRow {
    justify-content: center;
    padding-bottom: 1rem;
  }

  .WeExcelIcons {
    width: 5rem;
    height: 5rem;
    margin: 0rem;
  }
}