.NavbarContainer {
  position: fixed;
  width: 100%;
  z-index: 6;
  margin: 0;
}

.Container {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-left: 2.5rem;
}

.NavbarMain {
  width: 92%;
  padding-right: 0;
  opacity: 1;
  transition: all 1s ease;
}

.NavbarMainHide {
  opacity: 0;
}

.MenuMain {
  width: 8%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  z-index: 5;
}

.MenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-left: auto;
  background: #e49b00;
}

.Bars {
  height: 4px;
  background: #fff;
}

.HideMenuOne {
  transform: translateX(150%);
}

.HideMenuTwo {
  transform: translateY(-100%);
}

.ShowMenuOne {
  transform: translateX(0);
  transform: tra;
  transition: all 1s ease;
}

.ShowMenuTwo {
  transform: translateY(0);
  transition: all 1s ease;
}

.NavLinks {
  display: flex;
}

.NavLink a,
.ShowPopup {
  color: #fff;
  transition: all 0.5s ease;
}

.NavLink {
  margin-right: 2rem;
}

.NavLink a:hover {
  color: #e49b00;
}

.LineOne {
  width: 30px;
}

.LineTwo {
  margin: 0.2rem 0;
  width: 23px;
  margin-left: auto;
}

.LineThree {
  width: 15px;
  margin-left: auto;
}

.Label,
.LabelLines {
  cursor: pointer;
}

.LabelLines .LineOne {
  animation: line1x 1s ease 0s 1 normal forwards;
}

.LabelLines .LineTwo {
  animation: line2x 1.1s ease 0s 1 normal forwards;
}

.LabelLines .LineThree {
  animation: line3x 1s ease 0s 1 normal forwards;
  width: 30px;
}

.HidePopup {
  display: none;
}

.ShowPopup {
  display: block;
  transition: all 1s ease;
}

.NavbarColMiddle,
.NavbarColLast {
  height: 100vh;
  padding: 4rem 0;
}

.NavbarColMiddle ul,
.NavbarColLast ul {
  list-style-type: none;
  font-size: 22px;
  font-weight: 600;
}

.NavbarColMiddle {
  background: rgba(248, 248, 248, 1);
  text-align: right;
}

.NavbarColLast {
  margin-top: 1.5rem;
}

.NavbarColMiddle li {
  margin: 3rem 0;
  border-right: 0.5rem solid transparent;
  border-radius: 10px 0 0 10px;
  transition: all 1s ease;
  padding-right: 2rem;
}

.NavbarColLast li {
  margin: 1.5rem 0;
  font-weight: 400;
}

.NavbarColLast li a {
  color: rgba(25, 19, 17, 0.6);
}

.NavbarColMiddle li:hover,
.NavbarColLast li a:hover {
  color: #e49b00;
}

.NavbarColMiddle li:hover {
  border-right: 0.5rem solid #e49b00;
}

.LastColLinks {
  height: 90%;
}

.LastColSocialMedia {
  height: 10%;
  padding-left: 1.5rem;
}

.IconsParent {
  padding: 0.3rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 1rem 0.5rem;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.ImageDivParent {
  width: 90%;
  margin: 0 auto;
}

.ImageDiv {
  margin: 1rem 0;
  border-radius: 10px;
  border: 0.5px solid #e49b00;
  transition: all 1s ease;
}

.NavImage {
  width: 100%;
  height: auto;
  filter: brightness(0);
  border-radius: 10px;
  transition: all 1s ease;
}

.ImageText {
  position: relative;
  bottom: 5.5rem;
  text-align: center;
  color: #e49b00;
  transition: all 1s ease;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  z-index: 2;
  width: 35%;
  margin: 0 auto;
}

.ImageDiv:hover {
  border: 0.5px solid #fff;
}

.NavImage:hover,
.NavImageHover {
  filter: brightness(0.2);
}

.ImageDiv:hover ~ .ImageText,
.ImageText:hover {
  color: #fff;
}

.NavAccordion {
  width: 50%;
  margin-left: 0.5rem;
}

.NavAccordion li {
  color: #000;
  margin: 0.5rem;
}

.AccordionHeader button {
  font-size: 22px;
}

@keyframes line1x {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(4px) rotate(45deg);
  }
}
@keyframes line3x {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotate(135deg);
  }
}

@keyframes line2x {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

/* back animation */

.Label .LineOne {
  animation: line1rev 1s ease 0s 1 normal forwards;
}

.Label .LineTwo {
  animation: line2rev 0.8s ease 0s 1 normal forwards;
}

.Label .LineThree {
  animation: line3rev 1s ease 0s 1 normal forwards;
}

@keyframes line1rev {
  0% {
    transform: translateY(4px) rotate(45deg);
    width: 30px;
  }
  50% {
    transform: translateY(4px);
    width: 30px;
  }

  100% {
    transform: rotate(0deg) translateY(0px);
    width: 30px;
  }
}

@keyframes line2rev {
  0% {
    transform: scale(0);
    width: 30px;
  }

  100% {
    transform: scale(1);
    width: 23px;
  }
}

@keyframes line3rev {
  0% {
    transform: translateY(-10px) rotate(135deg);
    width: 30px;
  }

  50% {
    transform: translateY(-10px);
    width: 30px;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    width: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .NavbarMain {
    display: none;
  }

  .MenuMain {
    width: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .ImageText {
    width: 60%;
    bottom: 4.5rem;
  }
}
/*  */
.Accordionli {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
}
.Accordionli:hover {
  color: #e49b00;
}
.Accordionul {
  padding-left: 0;
}
