@import url("https://fonts.googleapis.com/css?family=Montserrat");

.main {
  height: 100%;
  position: sticky;
  overflow: hidden;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 100%;
}

.NavBarImage {
  padding-left: 2.5rem;
}

.NavBarLinksDiv {
  display: flex;
  margin-right: 3rem;
}

.Links {
  padding: 1rem;
}

.NavbarItems {
  justify-content: right;
  margin-right: 4rem;
}

.NavSingleItem {
  padding-top: 0.5rem;
}

.NavSingleItem a {
  color: #e49b00;
}

.NavSingleItem:hover {
  color: #e49b00;
}

.ContactUsButton {
  margin-left: 0.8rem;
}

.asidesection {
  top: 0;
  bottom: 0;
  position: absolute;
}

.asideleft {
  display: none;
  width: 40%;
  left: 0;
  background-color: #1a1112;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.asideright {
  width: 100%;
  right: 0;
  background-color: #e49b00;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.asidelist {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: left;
  padding-left: 50px;
}

.asidecontent {
  margin-top: 150px;
  padding: 0 40px;
  position: relative;
  color: white;
  text-align: center;
}

.asidelist li {
  margin-bottom: 20px;
}

.asideanchor::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #ff5964;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 3px;
}

.asideanchor::before {
  border-radius: 3px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #fff;
  left: 0;
  height: 3px;
  z-index: 1;
  width: 50%;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.asideanchor:hover:before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.asideanchor {
  padding-bottom: 7px;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  font-weight: 500;
}

.Checkbox {
  display: none;
}

.Checkbox:checked ~ .AsideMain {
  height: 100vh;
  z-index: 5;
  background: #1a1112;
}

.Checkbox:checked ~ .AsideMain .asideleft {
  transform: translateY(0%);
}

.Checkbox:checked ~ .AsideMain .asideright {
  transform: translateX(0%);
}

.Checkbox:checked ~ .Label .bar {
  background-color: #fff;
}

.Checkbox:checked ~ .Label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

.Checkbox:checked ~ .Label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.Checkbox:checked ~ .Label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.Label {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  z-index: 3;
  position: absolute;
  right: 0;
}

.bar {
  display: block;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

.main h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  /* transform: translateY(-50%); */
  text-align: center;
  font-size: 30px;
}

.main h1 span {
  font-size: 20px;
  display: block;
}

.asideContent p {
  font-size: 30px;
}

.button {
  display: inline-block;
  background-image: none;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 7px 50px;
  border: 2px solid white;
}

@media (min-width: 992px) {
  .main h1 {
    font-size: 40px;
  }
  .asideleft {
    display: block;
  }

  .asideright {
    width: 60%;
  }
}
