.dropdown-menu.show {
  display: contents !important;
}

.closeButton {
  display: flex;
  justify-content: end;
}

.closeButtonContain {
  background-color: #E49B00;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}

.Megamenu {
  font-size: 26px;
  font-weight: 600;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #1A1112;
  padding: 12px 16px;
  z-index: 1;
  color: #19131199;
  cursor: pointer;
  font-size: 16px;
}

.dropdownContent p {
  margin-bottom: 0%;
  padding-left: 2rem;
}

.dropdown:hover .dropdownHead {
  padding-left: 1rem;
  border-radius: 5px;
  border-left: 5px solid #E49B00;
}

.dropdown:hover .dropdownContent {
  display: contents;
}

.menu a {
  text-decoration: none;
  color: #1A1112;
}

.menu a:hover {
  padding-left: 1rem;
  color: #E49B00;
  border-radius: 5px;
  border-left: 5px solid #E49B00;

}

.menu {
  list-style: none;
  padding: 1rem;
  padding-left: 2.5rem;

}

.offcanvasHeader {
  display: flex;
  align-items: center;
  justify-content: end !important;
  padding-top: 0rem !important;
  padding-right: 0rem !important;
}

.Facebook {
  font-size: 2rem;
  margin: 0.5rem;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  /* / background: transparent; / */
}

.Facebook :hover {
  color: #E49B00;
  /* / background: #E49B00 !important; / */
}

.Twitter {
  font-size: 2rem;
  margin: 0.5rem;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.Twitter :hover {
  color: #E49B00;
}

.Instagram {
  font-size: 2rem;
  margin: 0.5rem;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.Instagram :hover {
  color: #E49B00;
}

.Linkedin {
  font-size: 2rem;
  margin: 0.5rem;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

.Linkedin :hover {
  color: #E49B00;
}

.Sociallink {
  padding-top: 35rem;
  padding-left: 2rem;
}

.NavbarBrand {
  padding-left: 2.5rem;
}

.NavbarUltroneous {
  padding: 0;
}

.NavbarItems {
  justify-content: right;
}

.NavSingleItem {
  padding-top: 0.5rem;
}

.NavSingleItem a {
  color: #fff;
  font-weight: 600;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.ToggleMenu {
  height: 5rem;
  width: 5rem;
  background: #e49b00;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.NavbarIcons {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

.ContactUsButton {
  margin-left: 0.8rem;
}

@media screen and (max-width: 992px) {
  .NavbarItems {
    display: none;
  }
}

/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width:320px) and (max-width: 430px) {
  .NavbarBrand {
    padding-left: 1rem;
  }

  .offcanvasHeader {
    padding: 1rem 0rem;
  }
  .offcanvasMain{
    transition: 1.5s;
  }
  .Sociallink {
    padding-top: 18rem;
    padding-left: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:1080px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width:1730px) {
  .Sociallink {
    padding-top: 22rem;
  }
}

/*  */
@media (min-width:650px) and (max-width:740px) {}