.NavbarBrand {
  padding-left: 2.5rem;
}

.NavbarUltroneous {
  padding: 0;
}

.NavbarItems {
  justify-content: right;
}

.NavSingleItem {
  padding-top: 0.5rem;
}

.NavSingleItem a {
  color: #fff;
  font-weight: 600;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.ToggleMenu {
  height: 5rem;
  width: 5rem;
  background: #e49b00;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}

.NavbarIcons {
  font-size: 3rem;
  color: #fff;
  font-weight: 400;
}

.ContactUsButton {
  margin-left: 0.8rem;
}

@media screen and (max-width: 992px) {
  .NavbarItems {
    display: none;
  }
}
/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width:320px) and (max-width: 430px) {
  .NavbarBrand{
    padding-left: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:1080px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width:1730px) {
 
}

/*  */
@media (min-width:650px) and (max-width:740px) {

}
