.PaddingSliderRow {
  margin: 0%;
  padding: 13rem 2.5rem 4rem 2.5rem;
}
.PaddingSliderCol {
  padding: 0;
}
.HeadingStyle {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding-top: 1rem;
  margin-bottom: 0%;
}

.WebDevelopmentContainer {
  padding-top: 7em;
}
.ParagraphStylesQ {
  padding-top: 1rem;
  margin: 0%;
  text-align: justify;
}
/* @media only screen and (max-width: 600px) {
  .HeadingStyle {
    font-size: 14px;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .HeadingStyle {
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }
}
@media (max-width: 1440px) and (max-height: 1024px) {
  .HeadingStyle {
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
  }
}
.PaddingSliderRow {
  padding: 4em 3em 1em 0em;
} */

@media (min-width: 320px) and (max-width: 430px) {
  .PaddingSliderRow {
    padding: 4rem 1rem 4rem 1rem;
  }

  .PaddingSliderCol {
    padding-top: 4rem;
  }

  .HeadingStyle,
  .ParagraphStylesQ {
    padding-top: 0;
  }

  .HeadingStyle {
    padding: 1.5rem 0 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .PaddingSliderRow {
    padding: 6rem 2.5rem 3rem 2.5rem;
  }

  .PaddingSliderCol {
    margin-bottom: 2rem;
  }

  .ParagraphStylesQ {
    width: 80%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}

@media (min-width: 1200px) and (max-width: 1730px) {
  .PaddingSliderCol {
    padding: 10rem 2.5rem 4rem 2.5rem;
  }
}
