.ServicesContainer {
  background: #1a1112;
  margin: 0%;
  /* height: 90vh; */
}

.ServicesNumber {
  font-weight: 700;
  font-size: 150px;
  color: #1a1112;
  -webkit-text-stroke: 1px #fff;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 0%;
  padding-top: 3rem;
  align-items: flex-end;
}

.ServicesRow {
  margin: 0;
  padding: 0 2.5rem;
}

.ServicesLeft {
  margin-top: -1.5rem;
}

.ServicesLeft p:first-of-type {
  font-size: 20px;
  color: #e49b00;
}

.ServicesLeft h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
  color: #fff;
}

.ServicesLeftParagraph {
  color: #fff;
  text-align: justify;
  width: 95%;
  font-size: 16px;
  margin: 2rem 0;
}

.ServicesWhiteArrowImage {
  position: absolute;
  left: 3rem;
}

.ImageDiv {
  padding: 0%;
  margin: 0%;
  position: relative;
  bottom: 8rem;
  left: 8rem;
  width: 80%;
  transition: all 1s ease;
}
.ImageDiv:hover {
  transition: all 1s ease;
  transform: scale(1.05);
}
.ServicesRightMainImage {
  width: 100%;
  height: auto;
  /* filter: blur(5px); */
  transition: all 1s ease;
}
.ServicesRightMainImage:hover {
  transition: all 1s ease;
  /* filter: blur(0px); */
  /* transform: scale(1.2); */
}
.ServicesWhiteArrow {
  z-index: 5;
  position: absolute;
  right: 14rem;
}

.ServicesWhiteArrowImage {
  height: 8rem;
  transition: all 2s ease;
}
.ServicesWhiteArrowImage:hover {
  transition: all 1s ease;
  transform: scale(1.2);
}
.Button {
  padding-top: 1rem;
}
@media (min-width: 320px) and (max-width: 430px) {
  .ServicesContainer {
    padding: 3rem 1rem;
    height: initial;
  }

  .ServicesNumber {
    font-size: 72px;
    margin: 0%;
    justify-content: initial;
  }
  .ImageDiv {
    width: 100%;
  }
  .ServicesRow {
    padding: 0;
  }

  .ServicesLeft {
    padding: 2rem 0;
  }

  .ServicesLeft p:first-of-type {
    font-size: 16px;
  }

  .ServicesLeft h1 {
    font-size: 38px;
  }

  .Button,
  .ServicesWhiteArrow {
    display: none;
  }

  .ServicesRight {
    padding: 0;
  }

  .ImageDiv {
    position: static;
    bottom: 0;
    left: 0;
  }

  .ImageDiv img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  /* .ServicesContainer {
    height: 75vh;
  } */

  .ServicesRow {
    padding: 10rem 2.5rem 4rem 2.5rem;
  }

  .ServicesLeft h1 {
    font-size: 37px;
  }

  .ServicesNumber {
    display: none;
  }

  .ImageDiv {
    position: static;
  }

  .ServicesRightMainImage,
  .ImageDiv {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}
