/* verticals */
.Verticalscontainer {
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 4rem;
  background: #e5e5e5;
}

.Verticalheading {
  font-size: 80px;
  font-weight: 700;
  color: #1b1414;
}

.Verticalsinglecard {
  background: #f8f8f8;
  width: 8.5rem;
  text-align: center;
  padding: 0;
  height: 12rem;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border-radius: 11px;
}

/*  */
.Verticalimg {
  content: url("/assets/vc7.svg");
}

.Verticalimg img {
  height: 0px;
}

.Verticalsinglecard:hover .Verticalimg {
  padding-top: 1.5rem;
  content: url("/assets/vch1.svg");
}

/* --- */
.Verticalimg2 {
  padding-top: 3rem;
  content: url("/assets/vc8.svg");
}

.Verticalsinglecard:hover .Verticalimg2 {
  padding-top: 1.5rem;
  content: url("/assets/vch2.svg");
}

/* --- */
.Verticalimg3 {
  padding-top: 3rem;
  content: url("/assets/vc6.svg");
}

.Verticalsinglecard:hover .Verticalimg3 {
  padding-top: 1.5rem;
  content: url("/assets/vch3.svg");
}

/* --- */

.Verticalimg4 {
  padding-top: 3rem;
  content: url("/assets/vc3.svg");
}

.Verticalsinglecard:hover .Verticalimg4 {
  padding-top: 1.5rem;
  content: url("/assets/vch4.svg");
}

/* --- */

.Verticalimg5 {
  padding-top: 3rem;
  content: url("/assets/vc4.svg");
}

.Verticalsinglecard:hover .Verticalimg5 {
  padding-top: 1.5rem;
  content: url("/assets/vch5.svg");
}

/* --- */

.Verticalimg6 {
  padding-top: 3rem;
  content: url("/assets/vc5.svg");
}

.Verticalsinglecard:hover .Verticalimg6 {
  padding-top: 1.5rem;
  content: url("/assets/vch6.svg");
}

/* --- */

.Verticalimg7 {
  padding-top: 3rem;
  content: url("/assets/vc2.svg");
}

.Verticalsinglecard:hover .Verticalimg7 {
  padding-top: 1.5rem;
  content: url("/assets/vch7.svg");
}

/* --- */

.Verticalimg8 {
  padding-top: 3rem;
  content: url("/assets/vc1.svg");
}

.Verticalsinglecard:hover .Verticalimg8 {
  padding-top: 1.5rem;
  content: url("/assets/vch8.svg");
}

/*  */
.Verticalsinglecard:hover .Cardtext {
  color: #e49b00;
}

.Verticalsinglecard:hover {
  transform: translateY(-8px) scale(1.1) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  background: #fff;
}

.Verticalsinglecard:hover .overlay {
  transform: scale(4) translateZ(0);
}

.Verticalcard {
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-evenly;
}

.Verticalsinglecard .Cardtext:hover {
  color: #e49b00;
  padding-top: 1.5rem;
}

.Cardtext {
  font-size: 18px;
  font-weight: 400;
  color: #1b1414;
  padding-top: 1.5rem;
}

.Verticalimg {
  padding-top: 3rem;
}

/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 430px) {
  /* vertical  */
  .Verticalsinglecard {
    width: 9rem !important;
    margin-bottom: 5%;
  }

  .Verticalscontainer {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    background: #e5e5e5;
  }

  .Verticalheading {
    font-size: 40px;
  }
}

/* / Medium devices (tablets, 768px and up) / */
@media (min-width: 768px) and (max-width: 1080px) {
  /* verticals */
  .Verticalsinglecard {
    margin-bottom: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1730px) {
}

/*  */
@media (min-width: 650px) and (max-width: 765px) {
}
