/* why client choose to work with us */
.WhyClientColumnPadding {
  padding: 0%;
}

.WhyClientChooseContainer {
  background-color: #1a1112;
  padding: 4rem 0rem 4rem 0rem;
}

.WhyClientChooseHead {
  display: flex;
  justify-content: center;
}

.WhyClientChooseHeading {
  font-family: "Outfit";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  width: 47rem;
  padding-bottom: 4rem;
  color: #ffffff;
}

.WhyClientChooseImage {
  padding: 0;
}

/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 450px) {
  .WhyClientChooseContainer {
    padding: 4rem 0rem 4rem 0rem;
  }
  .WhyClientChooseHead {
    justify-content: start;
  }
  .WhyClientChooseHeading {
    padding-left: 0%;
    font-size: 36px;
    text-align: left;
    padding-left: 1rem;
  }
}

/* / Medium devices (tablets, 768px and up) / */
@media (min-width: 768px) and (max-width: 1080px) {
  .WhyClientChooseHeading {
    font-size: 64px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1730px) {
}

/*  */
@media (min-width: 650px) and (max-width: 765px) {
}
