.UltroneousHContainer {
  background-color: #1a1112;
  margin: 0;
  margin-top: -1rem;
  overflow: hidden;
}
.PaddingNull {
  padding: 0%;
}
.UltroneousHContainer h2 {
  font-weight: 700;
  color: #e49b00;
  padding-left: 2.5rem;
  margin-top: -4rem;
  margin-bottom: 1rem;
  font-size: 170px;
}
.PagesHeader {
  background: url("/assets/main-home-desktop.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: left;
  justify-content: left;
  padding-left: 2.5rem;
  align-items: flex-end;
  /* background-attachment: fixed; */
  margin: 0;
}

.PagesHeader div p {
  font-size: 24px;
  font-weight: 500;
  color: #e49b00;
  margin-bottom: 0;
}

.PagesHeader div h1 {
  font-size: 130px;
  font-weight: 700;
  color: #fff;
  margin: 0%;
}

/* A place for Expanding Horizons and Team Building */
.PlaceForContainer {
  padding: 4rem 2.5rem 8rem 2.5rem;
  background-color: #1a1112;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}

.PlaceForHeading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;

  margin-bottom: 0%;
}

.PlaceForParagraph {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  padding: 2rem 0rem 0rem 0rem;
  color: #ffffff;
  width: 91%;
}

.AboutUsImage {
  padding: 0.5em;
  overflow: hidden;
  border-radius: 20px;
}

.AboutUsImage img {
  width: 100%;
  height: 100%;
  /* height: auto; */
  transition: all 0.5s ease;
}

.AboutUsImage img:hover {
  transform: scale(1.1);
}

.AboutUsImages {
  padding: 0 2rem;
  background-color: #1a1112;
}
.AboutUsRowMargin {
  margin: 0%;
  height: 100%;
}

/* values */
.ValuesContainer {
  padding: 6rem 2.5rem 6rem 2.5rem;
  background-color: #1a1112;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.ValueHeading {
  font-family: Outfit;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 101px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.ParagraphValue {
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 1em;
}

/* Why does talent choose us? */
.WDTCUContainer {
  padding: 6rem 2.5rem 6rem 2.5rem;
}

.WDTCUmainsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.HeadingTalent {
  font-family: Outfit;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1a1112;
}

.ParagraphTalent {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: rgba(97, 97, 97, 0.5);
  padding-top: 0.5rem;
}

.WDTCUlistsection {
  display: flex;
  justify-content: center;
}

.WDTCUlist {
  padding-bottom: 1rem;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1a1112;
}

.WDTCUlistcontain {
  padding-top: 4rem;
}

.CheckOutButtonSection {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

/* media queries */
@media (min-width: 320px) and (max-width: 430px) {
  .PagesHeader {
    padding-bottom: 0rem;
    height: 40vh;
    padding-left: 1rem;
  }

  .PagesHeader div p {
    font-size: 20px;
  }

  .PagesHeader div h1 {
    font-size: 40px;
  }

  .ImgHeight {
    height: 2.5rem;
  }
  .UltroneousHContainer h2 {
    margin: 0%;
    font-size: 54px;
    padding-left: 1rem;
  }

  .PlaceForParagraph {
    padding-top: 3rem;
    width: 100%;
  }
  .PlaceForContainer {
    padding: 2rem 1rem;

    justify-content: start;
    flex-direction: column;
    align-items: left;
  }

  .PlaceForContainerCol {
    padding: 0;
  }

  .AboutUsImages {
    padding: 0 0rem;
    background-color: #1a1112;
  }

  .PlaceForHeading {
    font-size: 1.5rem;
  }
  .ValuesContainer {
    padding: 3rem 0;
  }

  .ParagraphValue {
    padding-top: 0;
  }

  .ValueHeading {
    padding-top: 0%;
    font-size: 36px;
  }

  .WDTCUContainer {
    padding: 6rem 1rem 6rem 1rem;
  }

  .HeadingTalent {
    font-size: 2rem;
  }

  .ParagraphTalent {
    font-size: 1rem;
  }

  .WDTCUlist {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  .WDTCUlistcontainPadding {
    padding-top: 0rem;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .PagesHeader {
    height: 30vh;
  }

  .PagesHeader div p {
    font-size: 24px;
  }

  .UltroneousHContainer h2 {
    font-weight: 700;
    color: #e49b00;
    padding-left: 2.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 120px;
  }
  .PagesHeader div h1 {
    font-size: 88px;
  }
  .AboutUsImages {
    padding: 0px 1rem;
    background-color: #1a1112;
  }
  .PlaceForParagraph {
    width: 100%;
  }
  .WDTCUlist {
    font-size: 16px;
  }
  .ValueHeading {
    padding-top: 0%;
  }
  .PlaceForHeading {
    font-size: 3rem;
    padding: 0%;
  }

  .PlaceForParagraph {
    font-size: 16px;
    padding: 2rem 0rem 0rem 0rem;
  }
  .ValuesContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1730px) {
  .WDTCUlist {
    font-size: 1rem;
  }

  .PlaceForHeading {
    font-size: 3.5rem;
  }

  .PlaceForParagraph {
    font-size: 16px;
  }
}

@media (min-width: 650px) and (max-width: 740px) {
}
