.FormDescription {
  background: #1a1112;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 24px;
  color: #fff;
  margin-top: -4rem;
}
.MyCheckBox {
  accent-color: #303030;
}
.FormDescription p {
  text-align: center;
  width: 85%;
}

.FormMainContainer {
  background: #1a1112;
}
.FormContainer {
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 20px;
  width: 95%;
}

.ContactUsForm {
  padding: 2rem 2.5rem;
}

.InputBox {
  background: #fcfcfc;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 2%;
  border: 0px;
}
.Inputwidth {
  width: 80%;
  padding-left: 2em;
}
.Inputwidth2 {
  width: 80%;
}
.TextArea {
  background: #fcfcfc;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2% 5%;
  border: 0px;
  resize: none;
}

.TextArea:focus {
  outline: 1px solid #e49b00;
}

.InputBox:focus {
  outline: 1px solid #e49b00;
}
.InputBoxE:focus {
  outline: 1px solid red !important;
}
.Formmain {
  justify-content: center;
  background: #1a1112;
  padding-top: 4%;
}

.CheckboxSpaceColTop {
  padding-left: 0;
  margin-left: 1rem;
}

.CheckboxSpaceCol {
  margin: 0.5rem 0;
}

.SpaceLooking {
  margin-top: 2rem;
}

.SpaceLooking h3 {
  color: #1a1112;
  font-size: 30px;
  font-weight: 700;
  margin-top: 1rem;
}

.SpaceLooking p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 18px;
  margin: 1rem 0 2rem 0;
}

.CheckboxSpace {
  width: 93%;
}

.InputSpace {
  padding: 3% 0 0 0%;
}
.Btnsubmit {
  background: linear-gradient(180deg, #ffad00 0%, #e49b00 100%);
  box-shadow: 0px 34px 64px rgba(228, 155, 0, 0.1);
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 3em;
  font-size: 16px;
}

.FormCheckbox {
  display: none;
}

.TextLabel {
  border: 0.2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.CheckboxFormContainerMain {
  margin: 2rem 0 0 0.7rem;
}

.CheckboxFormContainerRow {
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  animation: fadeIn linear 1s;
}

.CheckBoxFormHeadText {
  color: rgba(0, 0, 0, 0.8);
}

.CheckBoxFormHeadText:last-of-type {
  margin: 1rem 0 0 0;
}

.CheckboxFormContainer {
  margin: 0.5rem 0rem;
  width: auto;
}

.SendButtonForm {
  margin-top: 1rem;
}

.WALAContainer {
  padding: 10rem 2.5rem 0 2.5rem;
}

.WALAContainer h1 {
  padding-bottom: 0.8em;
}
.bgcolor {
  background-color: #1a1112;
}

.pos {
  position: relative;
  bottom: 30%;
}

.headlabel {
  color: #1a1112;
  -webkit-text-stroke: 1px #e49b00;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 1rem;
  width: fit-content;
}

.plabel {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 1rem;
  color: #fff;
}

.EmailPhoneContainer {
  margin: 0.5rem 0;
}

.EmailPhoneText {
  font-size: 18px;
  margin-left: 0.8rem;
}

.EmailPhoneText a {
  color: #fff;
}

.p2 {
  font-weight: 500;
  font-size: 22px;
}

.imagehead {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  color: #fff;
  text-align: center;
  margin-bottom: 6rem;
}

.imgwidthfull {
  width: 100%;
  height: auto;
  /* transition: all 1s ease;
  filter: brightness(0.5); */
}
/* .imgwidthfull:hover {
  transform: scale(1.04);
  transition: all 1s ease;
  filter: brightness(1);
} */

.bgcolor .ImageContainer:first-of-type {
  padding-left: 0rem;
}

.bgcolor .ImageContainer:last-of-type {
  padding-right: 0rem;
}

.WALAImagesText,
.WALAImagesTextTwo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15rem;
}

.WALAImagesText {
  padding-left: 3em;
}

.WALAImagesTextTwo {
  padding-left: 0;
}

.PhoneImage {
  max-height: 50rem;
}

.DropdownStyle {
  background-color: #fcfcfc;
  background-position: right 1.75rem center;
  background-image: url("../public/assets/dropdown.svg");
  background-repeat: no-repeat;
  background-size: 12px;
}

.DropdownStyle:focus {
  box-shadow: none;
}

.DropdownStyle::placeholder {
  color: rgba(21, 20, 57, 0.4);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background: #f2f2f2;
  }

  50% {
    opacity: 0.5;
    background: #f2f2f2;
  }

  100% {
    opacity: 1;
    background: #fff;
  }
}

.ContactusImageCover {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .WALAContainer {
    padding: 4rem 0rem;
  }

  .FormDescription {
    margin-top: 0;
    padding: 2rem 1rem 3rem 1rem;
  }

  .FormDescription p {
    font-size: 16px;
    width: 100%;
  }

  .FormContainer {
    padding: 0rem 0rem;
    width: 100%;
    border-radius: 0;
  }

  .ContactUsForm {
    padding: 0;
    margin: 0 1rem 2rem 1rem;
    width: 87%;
  }

  .SpaceLooking {
    padding-left: 0rem;
  }

  .SpaceLooking h3 {
    font-size: 25px;
  }

  .SpaceLooking p {
    font-size: 16px;
    width: 90%;
  }

  .InputSpace {
    padding-left: 0.7rem;
  }

  .CheckboxSpace {
    padding-left: 0rem;
  }

  .imagehead {
    font-size: 40px;
    padding-left: 1rem;
    text-align: left;
    margin: 1.5rem 0 2.5rem 0;
  }

  .ImageContainer {
    padding: 0;
    overflow: hidden;
  }

  .WALAImagesText {
    padding-left: 1rem;
  }

  .headlabel {
    font-size: 40px;
    margin-top: 3rem;
  }

  .plabel {
    font-size: 18px;
  }

  .WALAImagesTwo {
    flex-direction: column-reverse;
  }

  .pos {
    position: static;
  }

  .WALAImagesText {
    margin-bottom: 5rem;
  }

  .WALAImagesTextTwo {
    padding: 0 0 0 1rem;
    margin-bottom: 2.5rem;
  }

  .Inputwidth {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .FormDescription {
    margin-top: -3rem;
  }

  .FormDescription p {
    font-size: 20px;
  }

  .FormContainer {
    padding: 0;
    padding-bottom: 2.5rem;
  }

  .headlabel {
    font-size: 65px;
  }

  .plabel {
    font-size: 18px;
  }

  .pos {
    bottom: 13%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}
