.FormDescription {
  background: #1a1112;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 30px;
  color: #fff;
  margin-top: -4rem;
}

.FormMainContainer {
  background: #1a1112;
}
.FormContainer {
  padding: 4rem 2.5rem;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 20px;
  width: 95%;
}
/* .Input-Height {
  height: 100px;
} */
.InputBox {
  background: #fcfcfc;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 2%;
  border: 0px;
}
.Inputwidth {
  width: 80%;
  padding-left: 2em;
}
.Inputwidth2 {
  width: 80%;
}
.TextArea {
  background: #fcfcfc;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2% 5%;
  border: 0px;
  resize: none;
}

.TextArea:focus {
  outline: 1px solid #e49b00;
}

.InputBox:focus {
  outline: 1px solid #e49b00;
}
.InputBoxE:focus {
  outline: 1px solid red !important;
}
.Formmain {
  justify-content: center;
  background: #1a1112;
  padding-top: 4%;
}

.CheckboxSpaceCol {
  margin: 0.5rem 0;
}
/* 
.SpaceLooking {
  padding: 8% 0 0 8%;
} */
.SpaceLooking h3 {
  color: #1a1112;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.4em;
}

.SpaceLooking p {
  color: rgba(21, 20, 57, 0.4);
  font-size: 18px;
}

.CheckboxSpace {
  padding: 3% 0 0 8%;
  width: 93%;
}

.InputSpace {
  padding: 3% 0 0 0%;
}
.Btnsubmit {
  background: linear-gradient(180deg, #ffad00 0%, #e49b00 100%);
  box-shadow: 0px 34px 64px rgba(228, 155, 0, 0.1);
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 3em;
}

.FormCheckbox {
  display: none;
}

.TextLabel {
  border: 0.2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.CheckboxFormContainerMain {
  margin: 0;
  padding-left: 8%;
  margin-top: 1rem;
}

.CheckboxFormContainerRow {
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  animation: fadeIn linear 1s;
}

.CheckBoxFormHeadText {
  color: rgba(0, 0, 0, 0.8);
}

.CheckBoxFormHeadText:last-of-type {
  margin: 1rem 0 0 0;
}

.CheckboxFormContainer {
  margin: 0.5rem 0rem;
}

.SendButtonForm {
  margin-top: 1rem;
}

.WALAContainer {
  padding: 4rem 2.5rem 0 2.5rem;
}

.WALAContainer h1 {
  padding-bottom: 0.8em;
}
.bgcolor {
  background-color: #1a1112;
}

.pos {
  position: relative;
  bottom: 30%;
}

.headlabel {
  color: #1a1112;
  -webkit-text-stroke: 0.5px #e49b00;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 1rem;
}

.plabel {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 1rem;
  color: #fff;
}

.EmailPhoneContainer {
  margin: 0.5rem 0;
}

.EmailPhoneText {
  margin-left: 0.8rem;
}

.EmailPhoneText a {
  color: #fff;
}

.p2 {
  font-weight: 500;
  font-size: 22px;
}

.imagehead {
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  color: #fff;
}

.imgwidthfull {
  width: 100%;
  height: auto;
}

.bgcolor .ImageContainer:first-of-type {
  padding-left: 0rem;
}

.bgcolor .ImageContainer:last-of-type {
  padding-right: 0rem;
}

.WALAImagesText {
  padding-left: 3em;
}

.WALAImagesTextTwo {
  padding-top: 5rem;
  padding-left: 0rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    background: #f2f2f2;
  }

  50% {
    opacity: 0.5;
    background: #f2f2f2;
  }

  100% {
    opacity: 1;
    background: #fff;
  }
}

/* @keyframes fadeDown {
  100% {
    opacity: 0;
    background: #f2f2f2;
  }

  50% {
    opacity: 0.5;
    background: #f2f2f2;
  }

  0% {
    opacity: 1;
    background: #fff;
  }
} */

@media (min-width: 320px) and (max-width: 430px) {
  .WALAContainer {
    padding: 4rem 0rem;
  }

  .FormDescription {
    margin-top: 0;
    padding: 4rem 1rem;
  }

  .FormDescription div {
    font-size: 18px;
  }

  .FormContainer {
    padding: 3rem 0rem;
  }

  .SpaceLooking {
    padding-left: 0rem;
  }

  .InputSpace {
    padding-left: 0.7rem;
  }

  .CheckboxSpace {
    padding-left: 0rem;
  }

  .imagehead {
    font-size: 40px;
    padding-left: 1rem;
  }

  .ImageContainer {
    padding: 0;
  }

  .WALAImagesText {
    padding-left: 1rem;
  }

  .headlabel {
    font-size: 40px;
    margin-top: 3rem;
  }

  .plabel {
    font-size: 18px;
  }

  .WALAImagesTwo {
    flex-direction: column-reverse;
    margin: 3rem 0;
  }

  .pos {
    position: static;
  }

  .WALAImagesTextTwo {
    padding-top: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .FormContainer {
    padding: 0;
    padding-bottom: 2.5rem;
  }

  .headlabel {
    font-size: 65px;
  }

  .plabel {
    font-size: 18px;
  }

  .pos {
    bottom: 13%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 765px) {
}
