.ParagraphContainer {
  padding: 4rem 2.5rem 4rem 2.5rem;
  background-color: #1a1112;
  text-align: center;
  color: #ffffff;
}
.PheadingContainer {
  background-color: #1a1112;
  text-align: center;
  color: #ffffff;
}
.Pheading {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  margin: 0%;
}
.Paragraph1 {
  font-weight: 400;
  font-size: 18px;
}
.Paragraph2 {
  font-weight: 400;
  font-size: 18px;
}
/*  */
.sectionCards .sectionContent {
  padding-bottom: 22px;
  padding-top: 48px;
  text-align: center;
  width: 93%;
  scroll-behavior: smooth;
}

.sectionCards .sectionContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.sectionCards .sectionContent li {
  transform: translateZ(0);
  will-change: transform, opacity;
  height: 588px;
  position: sticky;
  top: calc(50vh + 52px - 215px - 40px);
  scroll-behavior: smooth;
  border-radius: 20px;
}

.card {
  transform: translateZ(0) !important;
  will-change: transform, opacity !important;
  height: 630px !important;
  position: sticky !important;
  top: calc(50vh + 52px - 215px - 40px) !important;
  border-radius: 20px !important;
  scroll-behavior: smooth;
}
.sectionCards .sectionContent li .cardContainer {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 750px;
  height: 530px;
  margin-left: -375px;
  transform: translateZ(0);
  scroll-behavior: smooth;
}

.sectionCards .sectionContent li .cardContainer {
  width: 825px;
  height: 650px;
  margin-left: -412.5px;
  scroll-behavior: smooth;
}

.sectionCards .sectionContent li .bg {
  z-index: 1;
  background-color: #fff;
  scroll-behavior: smooth;
}

.sectionCards .sectionContent li .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-repeat: no-repeat;
  transform-origin: top center;
  background-position: center center;
  /* /box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09); */
  box-shadow: 0px 4px 14px rgba(148, 148, 148, 0.15);
  scroll-behavior: smooth;
}

.card01 {
  /* /background: linear-gradient(-40deg, #d754ad 0%, #f96785 67%, #fe7333 100%); */
  background: #fff;
  scroll-behavior: smooth;
}

.card02 {
  /* /background: linear-gradient(-40deg, #af4fec 0%, #d753ad 70%, #eb6078 100%); */
  background: #fff;
  scroll-behavior: smooth;
}

.card03 {
  /* /background: linear-gradient(-40deg, #6c6ff0 0%, #a354e4 58%, #c65cae 100%); */
  background: #fff;
  scroll-behavior: smooth;
}

.card04 {
  /* background: linear-gradient(-40deg, #56acef 0%, #6c6ff0 50%, #9755e7 100%); */
  background: #fff;
  scroll-behavior: smooth;
}

.rows {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.col {
  width: 50%;
  margin: 0;
}

.sectionCards {
  display: flex;
  justify-content: center;
  background: #1a1112;
  scroll-behavior: smooth;
}
.number {
  font-size: 40px;
  font-weight: 400;
  color: #1a1112;
  text-align: left;
  padding-left: 4rem;
  display: flex;
  padding-top: 1.5rem;
}
.Cardtitle {
  font-size: 55px;
  font-weight: 700;
  line-height: 75px;
  padding-left: 4rem;
  display: flex;
  justify-content: left;
  color: #1a1112;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.Carddescription {
  padding-left: 4rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #1a1112;
  text-align: justify;
  display: flex;
}
.imageSpace {
  padding-bottom: 4rem;
  padding-top: 4rem;
  transition: all 1s ease;
}
.imageSpace:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}
/*  */
@media (min-width: 320px) and (max-width: 430px) {
  .Paragraph1,
  .Paragraph2 {
    font-size: 14px;
  }
  .Cardtitle {
    font-size: 20px;
    line-height: 0;
    padding-left: 1rem;
  }
  .Carddescription {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .imageSpace {
    padding-top: 0;
    padding-bottom: 0;
    display: none;
  }
  .rows {
    display: block;
  }
  .number {
    padding-left: 1rem;
  }
  .Pheading {
    font-size: 40px;
    /* text-align: left; */
    padding-left: 1rem;
  }
  .ParagraphContainer {
    padding: 4rem 1rem;
    text-align: left;
  }
  .sectionCards .sectionContent li {
    top: calc(44vh + 52px - 215px - 40px);
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Cardtitle {
    padding-left: 2rem;
    font-size: 32px;
  }
  .rows {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sectionCards .sectionContent li {
    height: 662px;
  }
  .number {
    padding-left: 2rem;
  }
  .Carddescription {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
