#target {
  width: 100vh;
  height: 1500px;
  position: relative;
}

.imageBox {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.slideOne {
  display: flex;
  justify-content: center;
}

.slideOne p {
  font-weight: bold;
  font-size: 25px;
}
