@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs-tab-btn {
  color: rgba(255, 255, 255, 0.4) !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-ink-bar {
  background: #fff !important;
}
