@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Outfit";
}

html,
body {
  scroll-behavior: auto !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}
/* ======= megamenu mobile responsive ========*/
.mobileUse {
  display: none;
}
.mobileUse a {
  color: #000 !important;
}
.mobileUse:hover {
  color: #e49b00 !important;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .mobileUse {
    display: block;
  }
}
/* ============================================= NAVBAR ============================================= */

#overlay,
#overlaytwo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: all 1s ease;
}

#overlay {
  width: 70%;
  height: 100%;
  margin: 0 30%;
  background: #fff;
}

#overlaytwo {
  width: 30%;
  height: 100%;
  background: #000;
  color: #fff;
  padding-top: 6.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}
#Checkbox {
  display: none;
}

.SocialMediaParent:hover {
  background: #e49b00;
  border: 1px solid transparent;
}

.SocialMediaIcons {
  font-size: 25px;
  color: #ccc;
  transition: all 0.5s ease;
}
.SocialMediaParent:hover .SocialMediaIcons {
  color: #fff;
}

.AccordionNav .AccordionHeader button {
  background-color: transparent !important;
  color: rgba(145, 142, 141, 1) !important;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0%;
}

.AccordionNav .accordion-button::after {
  background-image: url("/assets/arrow_up.svg") !important;
  transition: all 0.5s ease !important;
  transform: rotate(180deg);
}

.AccordionNav .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/arrow_up.svg") !important;
  transform: rotate(0deg);
}

.AccordionNav .accordion-button:not(.collapsed) {
  box-shadow: none;
  padding-top: 0%;
}
.AccordionNav .accordion-body {
  padding: 0 1.25rem;
}

/* New Accodian Meghamenu */

.ant-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  background-color: #fff !important;
  border: none !important;
  border-bottom: none !important;
  border-radius: none !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  font-size: 22px;
  font-weight: 400;
  color: rgba(25, 19, 17, 0.6) !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  display: inline-block;
  margin-right: 12px;
  font-size: 22px !important;
  vertical-align: -1px;
  position: relative;
  left: 22rem;
  color: rgba(25, 19, 17, 0.6);
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  transition: transform 0.24s;
  /* transform: rotate(90deg); */
}
.ant-collapse > .ant-collapse-item {
  border-bottom: none !important;
}

.Acop {
  display: flex !important;
  justify-content: left !important;
  margin-left: 1.5rem;
}
.ant-collapse-content {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-top: none !important;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  #overlaytwo {
    display: none;
  }
}

/* ============================================= WE EXCEL AT  ============================================= */

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs-tab-btn {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 20px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-ink-bar {
  background: #fff !important;
}

.ant-tabs-content-holder {
  min-height: 18rem !important;
}

.ant-tabs-content {
  width: 94% !important;
  margin: 0 auto;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin-left: 2.5rem !important;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: start;
  }
}
/*

*/
/* 
 */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ============================================= TESTIMONIALS SLIDER ============================================= */

.slick-active .SlideAnimate {
  animation: fadeIn 5s;
}

.slick-active .TextAnimate {
  animation: fadeInUp 2s;
}

.slick-active .TextAnimateName {
  animation: fadeInUpName 2s;
}

.slick-active .TextAnimateImage {
  animation: fadeInImage 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUpName {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  50% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ============================================= CAREERS PAGE - ACCORDION ============================================= */

.accordion-item {
  border: none !important;
  margin: 1.5em 0 !important;
}

.CareersAccordion .accordion-button::after {
  background-image: url("/assets/plus.svg") !important;
  transition: all 0.3s ease !important;
}

.CareersAccordion .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/minus.svg") !important;
  transform: rotate(0deg) !important;
}

.CareersAccordion .accordion-body,
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #1a1112 !important;
  color: #fff !important;
}
.CareersAccordion .accordion-button:not(.collapsed) {
  background-color: #1a1112 !important;
  color: #fff !important;
}
.forfaq .accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
  color: #000 !important;
}

.forfaq .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.forfaq .accordion-button {
  font-weight: 600;
  font-size: 22px;
  height: 6rem;
}
.forfaq .accordion-item {
  margin: 2.5rem 0 !important;
  border-radius: 10px !important;
  margin-right: 1rem !important;
  border: 1px solid rgba(206, 206, 206, 0.3) !important;
}

.forfaq .accordion-body {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 6rem;
  text-align: justify;
}
.forfaq .accordion-header {
  margin-left: 1rem;
  margin-right: 1rem;
}
.forfaq .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("/assets/plusa.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: all 0.5s ease !important;
}
.forfaq .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/minusa.svg");
  transform: rotate(0deg);
  transition: all 0.5s ease !important;
}
.forfaq .accordion-button::after {
}
.accordon-button:active,
.accordion-button:focus,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:focus-visible {
  box-shadow: none !important;
}

/* ============================================= CONTACTUS PAGE - FORM ============================================= */

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 64px !important;
  margin-left: 0;
  background: #ffffff;
  /* border: 1px solid #CACACA; */
  border-radius: 40px !important;
  line-height: 25px;
  height: 50px !important;
  width: 80% !important;
  outline: none;
  border: none !important;
}
option {
  margin-right: 10px !important;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none !important;
  background-color: #fff !important;
  /* border: 1px solid #cacaca; */
  border-radius: 40px 0 0 40px !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none !important;
}
.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 32px !important;
  border-radius: 40px 0 0 40px !important;
}

/* === HIRE A TEAM CHECKBOX ==== */

.TextLabelActive {
  border: 0.2px solid rgba(228, 155, 0, 1) !important;
  background: rgba(250, 244, 232, 1) !important;
  color: rgba(228, 155, 0, 1) !important;
}
.modal-header {
  display: flex;
  position: absolute;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  z-index: 1;
}
.modal-body {
  padding: 0 !important;
}
.btn-close:focus {
  box-shadow: none !important;
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .WeExcelAtIconsData {
    width: 60%;
  }

  .react-tel-input .form-control {
    width: 100% !important;
  }
}

.Hire:checked {
  background: #1a1112;
}
/*====================== CHOOSE AS PER YOUR NEED =========================*/
.Choose-Tab-Right {
  padding-left: 10em;
}

.Choose-As-Per-Need-Col .nav-pills .active {
  background-color: #ffffff !important;
  color: #e49b00 !important;
  border-left: 10px solid #e49b00;
}

.Choose-As-Per-Need-Col .nav-pills .active > .Choose-Tab-Text {
  color: #e49b00 !important;
}

/* ============================================= SERVICES - HORIZONTAL TAB ============================================= */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;

  border-color: #fff #fff #000 #fff !important;
}

.nav-tabs .nav-link {
  padding: 0 1rem;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 450px) {
  .TabHeadingService + .nav {
    flex-wrap: initial !important;
  }

  .nav-tabs .nav-link {
    padding: 0 0.5rem !important;
    font-size: 15px !important;
  }
}

/* ============================================= OUR TEAM - MAIN SLIDER ============================================= */

.carousel-indicators {
  position: absolute !important;
  right: initial !important;
  bottom: 11rem !important;
  left: 70.5% !important;
  z-index: 2 !important;
  display: flex !important;
  padding: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  list-style: none !important;
}

.carousel-indicators [data-bs-target] {
  opacity: 1 !important;
  width: 15px !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.carousel-indicators .active {
  width: 35px !important;
  background: #e49b00 !important;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .carousel-indicators {
    left: 3.5% !important;
    bottom: 5.4rem !important;
  }
}

/* ============================================= NAVBAR ============================================= */

.SideBar {
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  transition: all 0.8s ease;
  z-index: 2;
  background: #e49b00;
}

#Bars {
  z-index: 3;
  position: fixed;
  right: 0%;
  top: 0rem;
  transform: rotate(180deg);
  padding: 1.78rem 1rem;
  background: #e49b00;
  cursor: pointer;
}

#checkboxNav {
  display: none;
}

#checkboxNav:checked ~ label .LineOne {
  -webkit-transform: translateY(1px) rotateZ(45deg);
  -moz-transform: translateY(1px) rotateZ(45deg);
  -ms-transform: translateY(1px) rotateZ(45deg);
  -o-transform: translateY(1px) rotateZ(45deg);
  transform: translateY(1px) rotateZ(45deg);
  background: #e49b00;
  width: 25px;
}

#checkboxNav:checked ~ label .LineThree {
  -webkit-transform: translateY(-17px) rotateZ(-45deg);
  -moz-transform: translateY(-17px) rotateZ(-45deg);
  -ms-transform: translateY(-17px) rotateZ(-45deg);
  -o-transform: translateY(-17px) rotateZ(-45deg);
  transform: translateY(-17px) rotateZ(-45deg);
  background: #e49b00;
  width: 25px;
}

#checkboxNav:checked ~ #Bars {
  transform: rotate(0deg);
  transform: rotate(180deg);
  background: transparent;
}

#checkboxNav:checked ~ label .LineTwo {
  width: 0;
}

#checkboxNav:checked ~ .SideBar {
  right: 0;
  width: 25%;
}

@media (min-width: 320px) and (max-width: 450px) {
  #checkboxNav:checked ~ .SideBar {
    width: 100%;
  }

  #Bars {
    top: 0%;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  #checkboxNav:checked ~ #Bars {
    transform: rotate(180deg);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
  .forfaq .accordion-body {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 0rem;
    text-align: justify;
  }
  .forfaq .accordion-item {
    margin-bottom: 0% !important;
    margin-right: 0% !important;
    border: none !important;
  }
  .forfaq .accordion-button {
    padding: 0%;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  #checkboxNav:checked ~ .SideBar {
    width: 50%;
  }
  .forfaq .accordion-item {
    margin-bottom: 0% !important;
    margin-right: 0% !important;
  }
}

.SocialMediaIcons {
  font-size: 25px;
}
.fade-in-left-anim {
  animation: fadeInLeft 1s ease-in-out;
  animation-delay: 10ms;
}

@-webkit-keyframes fadeInLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.uniqueLink:hover {
  color: #e49b00;
}
