@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Outfit";
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

/* ============================================= WE EXCEL AT  ============================================= */

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs-nav-wrap {
  justify-content: center;
}

.ant-tabs-tab-btn {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 20px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-tabs-ink-bar {
  background: #fff !important;
}

.ant-tabs-content-holder {
  min-height: 18rem !important;
}

.ant-tabs-content {
  width: 94% !important;
  margin: 0 auto;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin-left: 2.5rem !important;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: start;
  }
}

/* 
 */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ============================================= TESTIMONIALS SLIDER ============================================= */

.slick-active .SlideAnimate {
  animation: fadeIn 5s;
}

.slick-active .TextAnimate {
  animation: fadeInUp 2s;
}

.slick-active .TextAnimateName {
  animation: fadeInUpName 2s;
}

.slick-active .TextAnimateImage {
  animation: fadeInImage 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUpName {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  50% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  60% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ============================================= CAREERS PAGE - ACCORDION ============================================= */

.accordion-item {
  border: none !important;
  margin: 1.5em 0 !important;
}

.accordion-button::after {
  background-image: url("../public/assets/plus.svg") !important;
  transition: all 0.3s ease !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../public/assets/minus.svg") !important;
  transform: rotate(0deg) !important;
}

.accordion-body,
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #1a1112 !important;
  color: #fff !important;
}

.accordon-button:active,
.accordion-button:focus,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:focus-visible {
  box-shadow: none !important;
}

/* ============================================= CONTACTUS PAGE - FORM ============================================= */

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 64px !important;
  margin-left: 0;
  background: #ffffff;
  /* border: 1px solid #CACACA; */
  border-radius: 40px !important;
  line-height: 25px;
  height: 50px !important;
  width: 80% !important;
  outline: none;

  border: none !important;
}
option {
  margin-right: 10px !important;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none !important;
  background-color: #fff !important;
  /* border: 1px solid #cacaca; */
  border-radius: 40px 0 0 40px !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none !important;
}
.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 38px;
  height: 100%;
  padding: 0 0 0 32px !important;
  border-radius: 40px 0 0 40px !important;
}

/* === HIRE A TEAM CHECKBOX ==== */

.TextLabelActive {
  border: 0.2px solid rgba(228, 155, 0, 1) !important;
  background: rgba(250, 244, 232, 1) !important;
  color: rgba(228, 155, 0, 1) !important;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .WeExcelAtIconsData {
    width: 60%;
  }
}

.Hire:checked {
  background: #1a1112;
}
/*====================== CHOOSE AS PER YOUR NEED =========================*/
.Choose-Tab-Right {
  padding-left: 10em;
}

.Choose-As-Per-Need-Col .nav-pills .active {
  background-color: #ffffff !important;
  color: #e49b00 !important;
  border-left: 10px solid #e49b00;
}

.Choose-As-Per-Need-Col .nav-pills .active > .Choose-Tab-Text {
  color: #e49b00 !important;
}
