.TechnoContainer {
  position: relative;
  width: 20%;
  padding: 0%;
}

.TechnologyImage {
  display: block;
  width: 100%;
  padding: 0%;
  height: auto;
}

.TechnologyOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  height: 100%;
  transition: 0.5s ease;
}

.TechnoContainer:hover .TechnologyOverlay {
  height: 30%;
}

.TechnologyText {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* what we offer */

/* what we offer */
.WhatWeOfferContainer {
  background-color: #1a1112;
  padding: 4rem 2.5rem 10rem 2.5rem;
}

.WhatweofferHeading {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
}

.mainheading {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  padding-bottom: 4rem;
  padding-top: 2.5rem;
}

.Whatweofferheadingcontainer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #1a1112;
}

.WhatweofferPargraph {
  color: #fff;
  font-size: 16px;
  text-align: justify;
  padding: 1rem 0 0 0.3rem;
}

.Whatweofferimg {
  display: flex;
  justify-content: center;
}

/* intro container */
.IntroContainer {
  background-color: #1a1112;
  padding: 0rem 0% 4rem 2.5rem;
  margin-top: -4rem;
}

.IntroHeadingContainer {
  margin-right: 0 !important;
  margin-left: 0 !important;
  position: relative;
  top: 18rem;
}

.IntroImagePosition {
  padding: 0%;
  display: flex;
  justify-content: end;
}

.IntroHeading {
  padding: 0%;
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
}

.IntroParagraphSection {
  display: flex;
  padding-left: 0.3rem;
  align-items: end;
}

.IntroParagraph {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
}

.IntroImage {
  width: 87%;
}

.IntroArrowContain {
  display: flex;
  justify-content: center;
}
.IntroArrow{
  position: relative;
  left: 9rem;
  bottom: 6rem;
}

/* why client choose to work with us */
.WhyClientColumnPadding {
  padding: 0%;
}

.WhyClientChooseContainer {
  background-color: #1a1112;
  padding: 4rem 0rem 4rem 0rem;
}

.WhyClientChooseHead {
  display: flex;
  justify-content: center;
}

.WhyClientChooseHeading {
  font-family: "Outfit";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  width: 51rem;
  padding-bottom: 4rem;
  color: #ffffff;
}
/* verticals */
.Verticalscontainer{
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 4rem;
    background: #E5E5E5;
}

.Verticalheading{
    font-size: 80px;
    font-weight: 700;
    color: #1B1414;
    
}

.Verticalsinglecard{
    background: #F8F8F8;
    width: 12rem !important;
    text-align: center;
   padding: 0;
    height: 12rem;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border-radius: 11px;
}
/*  */
.Verticalimg{
  content: url('/assets/vc7.svg');
}
.Verticalimg img{
  height: 0px;
}
.Verticalsinglecard:hover .Verticalimg{
  padding-top: 1.5rem;
  content: url('/assets/vch1.svg');
}
/* --- */
.Verticalimg2{
  padding-top: 3rem;
  content: url('/assets/vc8.svg');
}

.Verticalsinglecard:hover .Verticalimg2{
  padding-top: 1.5rem;
  content: url('/assets/vch2.svg');
}
/* --- */
.Verticalimg3{
  padding-top: 3rem;
  content: url('/assets/vc6.svg');
  
}

.Verticalsinglecard:hover .Verticalimg3{
  padding-top: 1.5rem;
  content: url('/assets/vch3.svg');
}
/* --- */

.Verticalimg4{
  padding-top: 3rem;
  content: url('/assets/vc3.svg');
  
}

.Verticalsinglecard:hover .Verticalimg4{
  padding-top: 1.5rem;
  content: url('/assets/vch4.svg');
}
/* --- */

.Verticalimg5{
  padding-top: 3rem;
  content: url('/assets/vc4.svg');
  
}

.Verticalsinglecard:hover .Verticalimg5{
  padding-top: 1.5rem;
  content: url('/assets/vch5.svg');
}
/* --- */

.Verticalimg6{
  padding-top: 3rem;
  content: url('/assets/vc5.svg');
  
}

.Verticalsinglecard:hover .Verticalimg6{
  padding-top: 1.5rem;
  content: url('/assets/vch6.svg');
}
/* --- */

.Verticalimg7{
  padding-top: 3rem;
  content: url('/assets/vc2.svg');
  
}

.Verticalsinglecard:hover .Verticalimg7{
  padding-top: 1.5rem;
  content: url('/assets/vch7.svg');
}
/* --- */

.Verticalimg8{
  padding-top: 3rem;
  content: url('/assets/vc1.svg');
  
}

.Verticalsinglecard:hover .Verticalimg8{
  padding-top: 1.5rem;
  content: url('/assets/vch8.svg');
}
/*  */
.Verticalsinglecard:hover .Cardtext{
  color: #E49B00;
}
 .Verticalsinglecard:hover {
    transform: translateY(-8px) scale(1.1) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
    background: #fff;
    
}

.Verticalsinglecard:hover .overlay {
transform: scale(4) translateZ(0);

}

.Verticalcard{
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content:space-evenly;
    
}

.Verticalsinglecard .Cardtext:hover {
    color: #E49B00;
    padding-top: 1.5rem;
}

.Cardtext{
    font-size: 18px;
    font-weight: 400;
    color: #1B1414;
    padding-top: 1.5rem;
}


.Verticalimg{
    padding-top: 3rem;
}
/* look at our design shots*/
.MxNone {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.AlignCenter {
  justify-content: center;
}

.LookAtContainer {
  padding: 4rem 2.5rem 4rem 2.5rem;
}

.ImageEffect {
  width: 100%;
  filter: grayscale(100%);
}

.link-social {
  color: #000 !important;
}

.ImageEffect:hover {
  transition: 2s linear;
  filter: none;

}

.ImagesForTheHomepage h3 {
  font-size: 80px;
  font-weight: 700;
}

.ImagesForText {
  justify-content: space-around;
}

.ImagesTextIcons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 2em;
}

.ImagesTextIcons * {
  margin-top: 0.5em;
  font-size: 40px;
}

.ImagesTextIcons *:hover {
  color: #e49b00;
}

.SingleImage {
  padding: 0.5em;
}



/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width:320px) and (max-width: 430px) {
  .TechnoContainer {
    display: none;
  }
  
  .SingleImage:nth-child(3),
  .SingleImage:nth-child(8) {
    display: none;
  }

  .ImagesForTheHomepage h3 {
    font-size: 21px;
  }

  .ImagesForText {
    flex-direction: column;
  }

  .ImagesTextIcons {
    display: block;
  }

  .ImagesTextIcons * {
    font-size: 20px;
    margin: 0 0.5em;
  }

  .WhatWeOfferContainer {
    background-color: #1a1112;
    padding: 1rem 1rem 2rem 1rem;
  }

  .mainheading {
    font-size: 36px;
    padding-bottom: 1rem;
  }

  .Whatweofferimg {
    padding-top: 2rem;
    justify-content: left;
  }

  .WhatweofferHeading {
    text-align: left;
    font-size: 22px;
    padding: 1rem 0 0 0;
  }

  .WhatweofferPargraph {
    justify-content: left;
    padding: 1rem 0% 1rem 0%;
  }

  /* /  / */
  .IntroContainer {
    background-color: #1a1112;
    padding: 1rem 0% 1rem 1rem;
  }

  .IntroHeading {
    font-size: 36px;
  }

  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroHeading {
    justify-content: start;
  }

  .IntroParagraphSection {
    padding: 0%;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroParagraph {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .WhyClientChooseContainer {
    padding: 4rem 0rem 4rem 1rem;
  }

  .IntroArrowContain {
    display: none;
  }
  /*  */
  .WhyClientChooseHead {
    justify-content: start;
  }

  .WhyClientChooseHeading {
    padding-left: 0%;
    font-size: 36px;
    width: 22rem;
    text-align: left;
  }

  .LookAtContainer {
    padding: 1rem 0.5rem;
  }
  /* vertical  */
  .Verticalsinglecard{
    width: 9rem !important;
    margin-bottom: 5%;
  }
  .Verticalscontainer{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    background: #E5E5E5;
}
}

/* / Medium devices (tablets, 768px and up) / */
@media (min-width: 768px) and (max-width: 1080px) {
  .WhatweofferPargraph {
    padding: 1rem;
  }

  .WhatweofferHeading {
    padding-top: 1rem;
  }

  .IntroContainer {
    background-color: #1a1112;
    padding: 4rem 2rem 4rem 2rem;
  }

  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroHeading {
    padding-bottom: 2rem;
  }

  .WhyClientChooseHeading {
    font-size: 64px;
  }

  .ImagesForTheHomepage h3 {
    font-size: 30px;
  }

  .ImagesTextIcons * {
    font-size: 23px;
  }
  /* verticals */
  .Verticalsinglecard{
    margin-bottom: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1730px) {
  .IntroImage {
    width: 85%;
  }

  .IntroHeading {
    font-size: 67px;
  }

  .IntroHeadingContainer {
    top: 12rem;
  }

  .ImagesForTheHomepage h3 {
    font-size: 62px;
  }
}

/*  */
@media (min-width: 650px) and (max-width: 740px) {
  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroHeading {
    justify-content: left;
  }
}
