.TechnoContainer {
  position: relative;
  width: 20%;
  padding: 0%;
  overflow: hidden;
}

.TechnologyImage {
  display: block;
  width: 100%;
  padding: 0%;
  height: auto;
  transition: all 0.7s ease;
}

.TechnologyOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  height: 100%;
  transition: 0.7s ease;
}

.TechnoContainer:hover .TechnologyImage {
  transform: scale(1.1);
}

.TechnoContainer:hover .TechnologyOverlay {
  height: 30%;
}

.TechnologyText {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* what we offer */

/* what we offer */
.WhatWeOfferContainer {
  background-color: #1a1112;
  padding: 5rem 2.5rem 4rem 2.5rem;
}

.WhatweofferHeading {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
}

.mainheading {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 4rem;
}

.Whatweofferheadingcontainer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #1a1112;
}

.WhatWeOfferParaContainerFirst {
  display: flex;
  justify-content: left;
}

.WhatWeOfferParaContainerMiddle {
  display: flex;
  justify-content: center;
}

.WhatWeOfferParaContainerLast {
  display: flex;
  justify-content: right;
}

.WhatweofferPargraph {
  color: #fff;
  font-size: 16px;
  text-align: justify;
  padding: 1rem 0 0 0.3rem;
  width: 90%;
}

.Whatweofferimg {
  display: flex;
  justify-content: center;
}

/* intro container */
.IntroContainer {
  background-color: #1a1112;
  padding: 0rem 0% 4rem 2.5rem;
  margin-top: -4rem;
}

.IntroHeadingContainer {
  margin-right: 0 !important;
  margin-left: 0 !important;
  position: relative;
  top: 18rem;
}

.IntroImagePosition {
  padding: 0%;
  display: flex;
  justify-content: end;
}

.IntroHeading {
  padding: 0%;
  display: flex;
  justify-content: center;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}

.IntroParagraphSection {
  display: flex;
  padding-left: 0.3rem;
  align-items: end;
}

.IntroParagraph {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
  margin: 0%;
}

.IntroImage {
  width: 87%;
}

.IntroArrowContain {
  display: flex;
  margin: 0%;
  height: 10vh;
  justify-content: center;
}
.IntroArrow {
  position: relative;
  left: 16rem;
  bottom: 6rem;
}

/* look at our design shots*/
.MxNone {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.AlignCenter {
  justify-content: center;
}

.LookAtContainer {
  padding: 2rem 2rem 6rem 2rem;
}

.ImageEffect {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.link-social {
  color: #000 !important;
}

.ImageEffect:hover {
  transition: all 0.5s ease;
  filter: none;
  transform: scale(1.1);
}

.ImagesForTheHomepage h3 {
  font-size: 60px;
  font-weight: 700;
}

.ImagesForText {
  justify-content: space-around;
}

.ImagesTextIcons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 2em;
  margin-top: -4rem;
}

.ImagesTextIcons * {
  margin-top: 0.5em;
  font-size: 40px;
}

.ImagesTextIcons *:hover {
  color: #e49b00;
}

.SingleImage {
  padding: 0.5em;
}

.DivImage {
  overflow: hidden;
}

/* BOOTSTRAP MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 430px) {
  .TechnoContainer {
    display: none;
  }

  .SingleImage:nth-child(3),
  .SingleImage:nth-child(8) {
    display: none;
  }

  .ImagesForTheHomepage h3 {
    font-size: 21px;
  }

  .ImagesForText {
    flex-direction: column;
  }

  .ImagesTextIcons {
    display: block;
    padding-right: 0em;
  }

  .ImagesTextIcons * {
    font-size: 20px;
    margin: 0 0.2em;
  }

  .WhatWeOfferContainer {
    background-color: #1a1112;
    padding: 1rem 1rem 2rem 1rem;
  }

  .mainheading {
    font-size: 40px;
    padding-bottom: 1rem;
  }

  .Whatweofferimg {
    padding-top: 2rem;
    justify-content: left;
  }

  .WhatweofferHeading {
    text-align: left;
    font-size: 22px;
    padding: 1rem 0 0 0;
  }

  .WhatweofferPargraph {
    justify-content: left;
    padding: 1rem 0% 1rem 0%;
  }

  .WhatWeOfferParaContainerLast,
  .WhatWeOfferParaContainerMiddle {
    justify-content: initial;
  }

  /* /  / */
  .IntroContainer {
    background-color: #1a1112;
    padding: 1rem 0% 1rem 1rem;
  }

  .IntroHeading {
    font-size: 40px;
  }

  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroHeading {
    justify-content: start;
  }

  .IntroParagraphSection {
    padding: 0%;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroParagraph {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .IntroArrowContain {
    display: none;
  }

  /*  */

  .LookAtContainer {
    padding: 1rem 0.5rem;
  }

  .ImagesTextIcons {
    margin-top: 0rem;
  }
}

/* / Medium devices (tablets, 768px and up) / */
@media (min-width: 768px) and (max-width: 1080px) {
  .TechnologiesContainer {
    display: none;
  }

  .WhatweofferPargraph {
    padding: 1rem;
  }

  .WhatweofferHeading {
    padding-top: 1rem;
  }

  .IntroContainer {
    background-color: #1a1112;
    padding: 4rem 2rem 4rem 2rem;
  }

  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroHeading {
    padding-bottom: 2rem;
  }

  .ImagesForTheHomepage h3 {
    font-size: 30px;
  }

  .ImagesTextIcons {
    margin-top: -2rem;
  }

  .ImagesTextIcons * {
    font-size: 23px;
  }

  .Whatweofferimg {
    height: 3rem;
    width: 3rem;
  }

  .Whatweofferimg,
  .WhatWeOfferParaContainerMiddle,
  .WhatWeOfferParaContainerLast {
    justify-content: initial;
  }

  .WhatweofferHeading {
    text-align: left;
  }

  .WhatweofferPargraph {
    padding-left: 0;
  }

  .WhatWeOfferCol {
    margin-bottom: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1730px) {
  .IntroImage {
    width: 85%;
  }

  .IntroHeading {
    font-size: 67px;
  }

  .IntroHeadingContainer {
    top: 14.1rem;
  }

  .IntroParagraphSection {
    padding: 0;
  }
  .IntroArrow {
    position: relative;
    left: 11rem;
    bottom: 6rem;
  }
  .ImagesForTheHomepage h3 {
    font-size: 62px;
  }

  .Verticalsinglecard {
    margin: 1rem;
  }
}

/*  */
@media (min-width: 650px) and (max-width: 765px) {
  .IntroHeadingContainer {
    top: 0rem;
  }

  .IntroImage {
    width: 100%;
  }

  .IntroHeading {
    font-size: 48px;
    justify-content: left;
  }
  .TechnoContainer {
    display: none;
  }

  .SingleImage:nth-child(3),
  .SingleImage:nth-child(8) {
    display: none;
  }

  .ImagesForTheHomepage h3 {
    font-size: 21px;
  }

  .ImagesForText {
    flex-direction: column;
  }

  .ImagesTextIcons {
    display: block;
  }

  .ImagesTextIcons * {
    font-size: 20px;
    margin: 0 0.5em;
  }
}
