.CookieContainer {
  border-radius: 10px;
  position: fixed;
  padding: 2rem 2rem 2rem 2rem;
  width: 25rem;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-align: justify;
  /* display: none; */
}
.CookieActionIcon {
  display: flex;
  align-items: center;
  justify-content: end;
}
.ButtonContainer {
  display: flex;
}
.ButtonCookie {
  border: 1px solid #e49b00;
  border-radius: 20px;
  margin-right: 1rem;
  height: 2rem;
  color: #e49b00;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
.ButtonCookie a {
  color: #e49b00 !important;
}
.ButtonCookie a:hover {
  color: #000 !important;
}
.ButtonCookie:hover {
  transition: all 0.5s ease;
  color: #000 !important;
  background-color: #e49b00;
}
@media (min-width: 320px) and (max-width: 450px) {
  .CookieContainer {
    width: fit-content;
    margin: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
