.BurgerMenuCheckbox {
  appearance: none;
}

.Line {
  height: 0.3rem;
  margin: 0.5rem 0;
  background: #000;
}

.LineOne {
  width: 2.5rem;
}

.LineTwo {
  width: 2.1rem;
}

.LineThree {
  width: 1.5rem;
}

#burger-toggle:checked ~ .burger-menu .line::after {
  transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
  transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
  transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
  transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
