.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem 1rem 2.5rem;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 5;
}

.BarsBg {
  padding: 1rem;
  background: #e49b00;
  right: 1%;
  top: 1.5%;
}

.LineOne,
.LineTwo,
.LineThree {
  display: block;
  background: #fff;
  height: 4px;
  width: 25px;
  margin: 5px;
  transition: all 0.5s ease;
}

.SideBarNav {
  background: #fff;
  text-align: center;
  padding-top: 7rem;
  /* display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: column; */
}

.SideBarNav ul {
  list-style-type: none;
  font-size: 18px;
}

.Links {
  display: flex;
  align-items: center;
}

.Links p {
  margin: 0 1rem;
  color: #fff;
  transition: all 0.5s ease;
  font-size: 16px;
}

.Links button {
  margin-right: 1.5rem;
}

.Nav1:hover {
  color: #e49b00;
}
.Nav1 :active {
  border-left: 10px solid #e49b00;
  border-radius: 5px;
}

.dropdown {
  color: #000;
  cursor: pointer;
  /* height: 50px; */
  /* line-height: 50px; */
  /* position: relative; */
  /* width: 200px; */
  /* text-align: center; */
  text-decoration: none;
  transform: perspective(1000px);
  margin: 2rem 0;
}

.DropdownTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
  font-size: 30px;
  transition: all 0.5s ease;
  border-left: 10px solid transparent;
  padding-left: 0.5rem;
  cursor: pointer;
}

.dropdownmenu {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
}

.dropdown:hover,
.DropdownTitle:hover {
  border-left: 10px solid #e49b00;
  border-radius: 5px;
}

.dropdownmenu li {
  text-align: left;
  margin: 2rem 0;
}

.dropdownmenu a,
.DropdownTitle a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  transition: all 0.5s ease;
  text-align: left;
}

.dropdownmenu a:hover,
.Links p:hover {
  color: #e49b00;
}

.dropdown:hover .dropdownmenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all 0.5s, background, 2s 0.5s linear;
  transition: all 0.5s, background 2s 0.5s linear;
}

.dropdown:hover ~ .dropdowntwo {
  display: none;
}

.SocialLinks {
  display: flex;
}

.IconsBorder {
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.Icon {
  color: #ccc;
}

@media (min-width: 320px) and (max-width: 430px) {
  .Navbar {
    padding: 0 1rem;
  }

  .Links {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .Navbar {
    padding: 1rem 2rem 1rem 2.5rem;
  }
}
