.HorizontalTabPane {
  justify-content: center;
  display: flex;
  padding-top: 3rem;
  font-weight: 600;
  font-size: 18px;
}
.TabsContainer {
  padding: 4rem 1rem;
  background-color: #1a1112;
}
.Wanttodiscuss {
  /* padding: 4rem 2.5rem; */
  padding: 0;
  background: #1a1112;
}
.Pheading {
  font-size: 54px;
  font-weight: 700;
  color: #1a1112;
  font-family: "poppins";
  -webkit-text-stroke: 0.5px #fff;
  padding-bottom: 1rem;
}
.Pimg {
  display: flex;
  justify-content: center;
}
.Portmain {
  justify-content: center;
  padding: 4rem 0;
}
.Ppera {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.BtnSpace {
  padding-top: 1rem;
}
.ProjectContain {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.TechnoContainer {
  position: relative;
  width: 100%;
  padding: 0%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  height: fit-content;
}

.TechnologyImage {
  display: block;
  width: 100%;
  padding: 0%;
  height: fit-content;
  transition: all 0.7s ease;
}
.TechnoSpacing {
  margin-top: 2rem;
}
.TechnologyOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.75); */
  overflow: hidden;
  height: 100%;
  transition: 0.7s ease;
}

.TechnoContainer:hover .TechnologyImage {
  transform: scale(1.1);
}
/* 
.TechnoContainer:hover .TechnologyOverlay {
  height: 30%;
} */

.TechnologyText {
  color: white;
  font-size: 15px;
  position: absolute;
  padding: 2rem;

  text-align: left;
}
.TechnologyText p {
  margin: 0%;
}
.TechnologyText h1 {
  color: #fff;
}
@media (min-width: 320px) and (max-width: 430px) {
  /* .TechnoContainer {
    width: 90%;
    margin-left: 1rem;
  } */
  .Pheading {
    font-size: 34px;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
