.PaddingNull {
  padding: 0%;
}

.PagesHeader {
  background: url("/assets/bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: left;
  justify-content: left;
  padding-left: 2.5rem;
  align-items: flex-end;
  /* background-attachment: fixed; */
  margin: 0;
}

.PagesHeader div p {
  font-size: 22px;
  font-weight: 500;
  color: #e49b00;
  margin-bottom: 1rem;
}

.PagesHeader div h1 {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  margin: 0%;
  width: fit-content;
}
.DetailContainer {
  margin: 0%;
  padding: 2rem 2.5rem;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #1a1112;
}
.ContentHeading {
  margin-top: 4rem;
  font-family: Poppins, sans-serif;
  color: #1a1112;
  -webkit-text-stroke: 0.5px #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.ListParagraph {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
}
.ListGuideline {
  margin-bottom: 2rem;
}
.GroupTitle {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: 2rem;
}
.GroupSection {
  margin-bottom: 3.5rem;
}
.GroupDetail {
  font-weight: 400;
  font-size: 16px;
}
.GroupListContainer {
  margin-top: 6rem;
  margin-bottom: 10rem;
}
.BottomToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: #e49b00;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
/* media queries */
@media (min-width: 320px) and (max-width: 450px) {
  .PagesHeader {
    padding-bottom: 0rem;
    height: 40vh;
    padding-left: 1rem;
  }

  .PagesHeader div p {
    font-size: 20px;
  }

  .PagesHeader div h1 {
    font-size: 40px;
  }
  .DetailContainer {
    padding: 2rem 0.5rem;
    text-align: justify;
  }
  .GroupTitle {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .PagesHeader {
    height: 30vh;
  }

  .PagesHeader div p {
    font-size: 24px;
  }
}

@media (min-width: 1200px) and (max-width: 1730px) {
}

@media (min-width: 650px) and (max-width: 740px) {
}
