.blankSpace {
  padding: 4rem;
  background-color: #1a1112;
}
.ParagraphSection {
  padding: 0rem 2.5rem 4rem 2.5rem;
  background-color: #1a1112;
  justify-content: center;
  display: flex;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.ParagraphSection p {
  width: 64%;
  margin: 0%;
}
/*  */
.MainTechcontainer {
  padding: 4rem 2.5rem;
  /* background: url("/assets/main-home-desktop.png"); */
  background: #1a1112;
  background-attachment: fixed;
  /* height: 100vh; */
  /* overflow: scroll; */
  width: 100%;
  height: auto;
}
.MainTechcontainer::-webkit-scrollbar {
  display: none;
}
.Cathead {
  font-size: 100px;
  font-weight: 700;
  font-family: poppins;
  color: #1a1112;
  -webkit-text-stroke: 0.5px #fff;
}

.CardMain:hover .Arrownxt {
  transform: scale(1.3);
  transition: all 1s ease;
}

.Card1,
.Card2,
.Card3,
.Card4,
.Card5,
.Card6,
.Card7,
.Card8,
.Card9,
.Card10,
.Card11,
.Card12,
.Card13,
.Card14,
.Card15,
.Card16,
.Card17,
.Card18,
.Card19,
.Card20,
.Card21 {
  background: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  height: 100%;
  /* height: 100%;
    width: 100%; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.Card1:hover {
  background: linear-gradient(180deg, #61dafb 0%, #18bdea 100%);
  border: none;
}
.Card2:hover {
  background: linear-gradient(180deg, #dd0031 0%, #9c0023 100%);
  border: none;
}
.Card3:hover {
  background: linear-gradient(180deg, #41b883 0%, #1a7e52 100%);
  border: none;
}
.Card4:hover {
  background: linear-gradient(180deg, #ff5722 0%, #cf3200 100%);
  border: none;
}
.Card5:hover {
  background: linear-gradient(0deg, #000000 0%, #262424 100%);
  border: none;
}
.Card6:hover {
  background: linear-gradient(180deg, #663399 0%, #431472 100%);
  border: none;
}
.Card7:hover {
  background: linear-gradient(180deg, #00c58e 0%, #028c66 100%);
  border: none;
}

.Card8:hover {
  background: linear-gradient(180deg, #539e43 0%, #2f7221 100%);
  border: none;
}
.Card9:hover {
  background: linear-gradient(180deg, #ee2b1f 0%, #a40c03 100%);
  border: none;
}
.Card10:hover {
  background: linear-gradient(180deg, #777bb3 0%, #444996 100%);
  border: none;
}
.Card11:hover {
  background: linear-gradient(180deg, #dd4814 0%, #a83209 100%);
  border: none;
}
.Card12:hover {
  background: linear-gradient(180deg, #f26322 0%, #bc4109 100%);
  border: none;
}
.Card13:hover {
  background: linear-gradient(180deg, #21759b 0%, #0a445f 100%);
  border: none;
}
.Card14:hover {
  background: linear-gradient(180deg, #81c038 0%, #42700d 100%);
  border: none;
}
.Card15:hover {
  background: linear-gradient(
    180deg,
    #0095d5 0%,
    #6776e0 29.17%,
    #cd5ca8 59.9%,
    #ffa63f 93.75%
  );
  border: none;
}
.Card16:hover {
  background: linear-gradient(180deg, #f89c3f 0%, #ef4131 100%);
  border: none;
}
.Card17:hover {
  background: linear-gradient(180deg, #45d1fd 0%, #02539a 100%);
  border: none;
}
.Card18:hover {
  background: linear-gradient(180deg, #61dafb 0%, #1696b9 100%);
  border: none;
}
.Card19:hover {
  background: linear-gradient(180deg, #e76f00 0%, #5382a1 100%);
  border: none;
}
.Card20:hover {
  background: linear-gradient(180deg, #f1592a 0%, #aa340f 100%);
  border: none;
}
.Card21:hover {
  background: linear-gradient(180deg, #3498db 0%, #0d5a8e 100%);
  border: none;
}
.Card1 h5,
.Card2 h5,
.Card3 h5,
.Card4 h5,
.Card5 h5,
.Card6 h5,
.Card7 h5,
.Card8 h5,
.Card9 h5,
.Card10 h5,
.Card11 h5,
.Card12 h5,
.Card13 h5,
.Card14 h5,
.Card15 h5,
.Card16 h5,
.Card17 h5,
.Card18 h5,
.Card19 h5,
.Card20 h5,
.Card21 h5 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.Containt {
  margin-bottom: 1rem;
}
.Frontcontainer {
  padding-top: 8rem;
  padding-bottom: 4rem;
  /* height: 100vh; */
  /* / background:  #1A1112; / */
}
.Backendcontainer {
  /* height: 100vh; */
  padding-top: 8rem;
  padding-bottom: 4rem;
  /* / background:  #1A1112; / */
}
.Mobilecontainer {
  /* height: 100vh; */
  padding-top: 8rem;
  padding-bottom: 4rem;
  /* / background:  #1A1112; / */
}
.Icon {
  font-size: 5rem;
  color: #fff;
  padding-top: 0.8rem;
}
.Arrownxt {
  padding-bottom: 1rem;
  cursor: pointer;
  transition: all 1s ease;
}
/* .Arrownxt:hover {
  transform: scale(1.3);
  transition: all 1s ease;
} */
.Mainrow {
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 430px) {
  .ParagraphSection {
    padding: 0 1rem;
    text-align: justify;
  }
  .ParagraphSection p {
    width: 100%;
  }
  .Frontcontainer {
    padding-bottom: 0%;
    padding-top: 0rem;
  }
  .Icon {
    font-size: 4rem;
  }
  .Cathead {
    font-size: 50px;
  }
  .MainTechcontainer {
    padding: 4rem 1rem;
  }
  .blankSpace {
    padding: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .ParagraphSection p {
    width: 90%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
